<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row style="display: flex;
    align-items: center;">
      <ion-col size="2" style="padding-left: 25px;">
        <ion-menu-toggle>
          <ion-buttons>
            <div style="width:100% ;">
              <img src="assets/images/sb-button.svg" alt="sb-btn">
            </div>
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="8">
        <div class="title">Make a Claim</div>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="container">
    <ion-segment mode="ios" (ionChange)="segmentChanged($event)" #mySegment scrollable="true" class="segment1">
      <ion-segment-button mode="ios" value="NewClaim" class="sbtn">
        <ion-label>New Claim</ion-label>
      </ion-segment-button>
      <ion-segment-button checked mode="ios" value="ClaimTracker" class="sbtn">
        <ion-label>Claim Tracker</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="requestsType=='NewClaim'">
      <div class="dropbox">
        <div class="innerdropbox" (click)="openlist()">
          <div class="euro-text">{{Insurance}}</div>
          <div class="imgdiv">
            <img style="height: 11px; width: 11px;" src="assets/images/down-arrow.svg" *ngIf="show==false">
            <img style="height: 11px; width: 11px;" src="assets/images/yuparrow.svg" *ngIf="show==true">
          </div>
        </div>
        <div *ngIf="show==true">
          <div *ngFor="let list of listarray" (click)="selectInsurance(list)">
            <div class="euro-text1">{{list.Insurance}}</div>
          </div>

        </div>

      </div>

      <div *ngIf="Insurance == 'Life Busines'">

      <div class="label" style="margin: 12px 0px 0px;">Policy Number or Registration Number</div>
      <div class="inputfield">
        <ion-input style="height: 48px;" type="text" placeholder="Policy Number or Registration Number" class="in-text"
          [(ngModel)]="polnum">
        </ion-input>
      </div>

      <div class="label">Client Surname</div>
      <div class="inputfield">
        <ion-input style="height: 48px;" type="text" placeholder="Client Surname" class="in-text"
          [(ngModel)]="csurname">
        </ion-input>
      </div>

      <div class="label">Coth name</div>
      <div class="inputfield">
        <ion-input style="height: 48px;" type="text" placeholder="Coth name" class="in-text" [(ngModel)]="cothname">
        </ion-input>
      </div>

      <div class="label">DD Liabtype</div>
      <div class="inputfield">
        <ion-input style="height: 48px;" type="text" placeholder="DD Liabtype" class="in-text"
          [(ngModel)]="dd_liabtype"></ion-input>
      </div>

      <div class="label">Text message claim</div>
      <div class="inputfield">
        <ion-input style="height: 48px;" type="text" placeholder="Text message claim" class="in-text"
          [(ngModel)]="txt_message_clm"></ion-input>
      </div>

      <div class="label">Claims Supporting Document</div>

      <input class="custom-file-input" type="file" (change)="selectFile($event,'vehFrontPic')"
        accept="image/x-png,image/gif,image/jpeg">

      <div style="height: 100px; width:100px; text-align: center;" *ngIf="claimdoc.base64"><img
          style="height: 100px; width:100px" src="{{claimdoc.base64}}" alt=""></div>
    </div>

  </div>

  <div *ngIf="Insurance == 'General Business'">

   <div class="label" style="margin: 12px 0px 0px;">Policy Number or Registration Number</div>
   <div class="inputfield">
     <ion-input style="height: 48px;" type="text" placeholder="Policy Number or Registration Number" class="in-text"
       [(ngModel)]="polnum">
     </ion-input>
   </div>

    <!-- Loss Date  -->
    <div class="label">Loss date</div>
    <div class="item-picker" style="margin: 4% 0%; --background: #E8E8E7; height: 48px; padding: 13px 15px;"
      (click)="showPickerStartDate = !showPickerStartDate">
      <div style="display: flex; align-items:center">
        <ion-text class="ion-txt" style="margin-left: 14px">{{ tourStartDate }}</ion-text>
      </div>
    </div>
    <ion-datetime class="item-picker" style="margin:10px auto 8px; color: black;" presentation="date"
      *ngIf="showPickerStartDate" #datetime [value]="tourStartDate" size="cover"
      (ionChange)="dateChanged(datetime.value,'start')" showDefaultButtons="true"
      (ionCancel)="showPickerStartDate=false"></ion-datetime>
    <!-- Loss Date  -->

     <!-- End Date  -->
     <div class="label">Notify date </div>
     <div class="item-picker" style="margin: 4% 0%; --background: #E8E8E7; height: 48px; padding: 13px 15px;"
       (click)="showPickerEndDate = !showPickerEndDate">
       <div style="display: flex; align-items:center">
         <ion-text class="ion-txt" style="margin-left: 14px">{{ tourEndDate }}</ion-text>
       </div>
     </div>
     <ion-datetime class="item-picker" style="margin:10px auto 8px; color: black;" presentation="date"
       *ngIf="showPickerEndDate" #datetime [value]="tourEndDate" size="cover"
       (ionChange)="dateChanged(datetime.value,'end')" showDefaultButtons="true"
       (ionCancel)="showPickerEndDate=false"></ion-datetime>
     <!-- End Date  -->
     <div class="label">Description</div>
      <div class="inputfield">
          <ion-textarea rows="7" type="text" placeholder="Loss Description" class="in-text"
            [(ngModel)]="desc">
          </ion-textarea>
        </div>


        <div class="label" style="margin: 12px 0px 0px;">Loss Type</div>

        <div class="dropbox">
          <div class="innerdropbox" (click)="openlistloss()">
            <div class="euro-text">{{losstype}}</div>
            <div class="imgdiv">
              <img style="height: 11px; width: 11px;" src="assets/images/down-arrow.svg" *ngIf="show==false">
              <img style="height: 11px; width: 11px;" src="assets/images/yuparrow.svg" *ngIf="show==true">
            </div>
          </div>
          <div *ngIf="showloss==true">
            <div *ngFor="let list of listarrayloss" (click)="selectInsuranceloss(list)">
              <div class="euro-text1">{{list.Insurance}}</div>
            </div>

          </div>

        </div>

        <div class="label" style="margin: 12px 0px 0px;">Reference Number</div>
        <div class="inputfield">
          <ion-input style="height: 48px;" type="text" placeholder="Reference Number" class="in-text"
            [(ngModel)]="refnum">
          </ion-input>
        </div>
    </div>
  </div>

    <div *ngIf="requestsType=='ClaimTracker'">


      <ion-row>
        <ion-col size="2" style="text-align: -webkit-center;">
          <img style="    width: 26px;
          margin-top: 24px;" src="assets/tracking/01.svg">

        </ion-col>


        <ion-col size="10">
          <ion-row>
            <ion-col size="3">
              <img style="    height: 68px;
              width: 50px;
              border: 1px solid #A2BB06;
              border-radius: 10px;
              padding: 10px;" src="assets/tracking/s1.svg">
            </ion-col>
            <ion-col size="9">

              <p>Claims received and under verification</p>
            </ion-col>
          </ion-row>


          <ion-row style="margin-top: 32px;">
            <ion-col size="3">
              <img style="    height: 68px;
              width: 50px;
              border: 1px solid #A2BB06;
              border-radius: 10px;
              padding: 10px;" src="assets/tracking/s2.svg">
            </ion-col>
            <ion-col size="9">

              <p>Claim verified and being processed</p>
            </ion-col>
          </ion-row>

          <ion-row style="margin-top: 32px;">
            <ion-col size="3">
              <img style="    height: 68px;
              width: 50px;
              border: 1px solid #A2BB06;
              border-radius: 10px;
              padding: 10px;" src="assets/tracking/s3.svg">
            </ion-col>
            <ion-col size="9">

              <p>EDV sent to you and awaiting submission</p>
            </ion-col>
          </ion-row>

          <ion-row style="margin-top: 32px;">
            <ion-col size="3">
              <img style="    height: 68px;
              width: 50px;
              border: 1px solid #A2BB06;
              border-radius: 10px;
              padding: 10px;" src="assets/tracking/s4.svg">
            </ion-col>
            <ion-col size="9">

              <p>Final Approval</p>
            </ion-col>
          </ion-row>


          <ion-row style="margin-top: 32px;">
            <ion-col size="3">
              <img style="    height: 68px;
              width: 50px;
              border: 1px solid #A2BB06;
              border-radius: 10px;
              padding: 10px;" src="assets/tracking/s5.svg">
            </ion-col>
            <ion-col size="9">

              <p>Payment in progress</p>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>




    </div>


</ion-content>
<ion-footer *ngIf="requestsType=='NewClaim'">
  <div class="btndiv">
    <ion-button class="btn1" (click)="reportclaim()">Submit claim</ion-button>
  </div>
</ion-footer>
