<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row style="display: flex;
    align-items: center;">
      <ion-col size="2" style="padding-left: 25px;">
        <div style="width:100% ;">
          <img (click)="goback()" src="assets/images/back-arrow.svg" alt="sb-btn">
        </div>
      </ion-col>
      <ion-col size="8">
        <div class="title">Product Offering and Details</div>
      </ion-col>
      <ion-col size="2" style="text-align: center;
      padding-top: 3%;">
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="wrapper">

    <div class="label">Vehicle Make</div>
    <div class="dropbox">
      <div class="innerdropbox" (click)="openVhclMakeList()">
        <div class="euro-text" style="width: 100%;">{{vehicleMakeVal}}</div>
        <div class="imgdiv" style="padding-bottom: 2px; width: 5%;">
          <img style="height: 6.6px;width:11.36px" src="assets/images/down-arrow.svg" *ngIf="showMaker==false">
          <img style="height: 6.6px;width:11.36px" src="assets/images/yuparrow.svg" *ngIf="showMaker==true">
        </div>
      </div>
      <div *ngIf="showMaker==true" style="height:100px ; overflow: scroll;">
        <div *ngFor="let list of vechileMakenew; let i=index" (click)="selectVehicleMaker(list,i)">
          <div class="euro-text1" [class.activeproduct]="list.active==true">{{list.manufacturer}}</div>
        </div>

      </div>

    </div>
    <div class="dropbox">
      <div class="innerdropbox" (click)="opnenVehicleModelList()">
        <div class="euro-text" style="width: 100%;">{{vehicleModelVal}}</div>
        <div class="imgdiv" style="padding-bottom: 2px; width: 5%;">
          <img style="height: 6.6px;width:11.36px " src="assets/images/down-arrow.svg" *ngIf="showVehicleModel==false">
          <img style="height: 6.6px;width:11.36px" src="assets/images/yuparrow.svg" *ngIf="showVehicleModel==true">
        </div>
      </div>
      <div *ngIf="showVehicleModel==true" style="height:100px ; overflow: scroll;">
        <div *ngFor="let list of vehicleModelNew;let i=index" (click)="selectVehicleModel(list,i)">
          <div class="euro-text1" [class.activeproduct]="list.active==true">{{list.model}}</div>
        </div>

      </div>

    </div>

    <div class="label">First Name</div>
    <div class="inputfield">
      <div class="innerdropbox">
        <ion-input [(ngModel)]="fName" style="height: 48px;" type="text" placeholder="John" class="in-text">
        </ion-input>
      </div>
    </div>
    <div class="label">Last Name</div>
    <div class="inputfield">
      <div class="innerdropbox">
        <ion-input [(ngModel)]="lName" style="height: 48px;" type="text" placeholder="Doe" class="in-text">
        </ion-input>
      </div>
    </div>

    <div class="label">Email</div>
    <div class="inputfield">
      <div class="innerdropbox">
        <ion-input [(ngModel)]="userEmail" style="height: 48px;" type="email" placeholder="johndoe@gmail.com" class="in-text">
        </ion-input>
      </div>
    </div>
    <div class="label">Phone Number</div>
    <div class="inputfield">
      <div class="innerdropbox">
        <ion-input [(ngModel)]="mobNumber" style="height: 48px;" type="tel" placeholder="923565466554" class="in-text">
        </ion-input>
      </div>
    </div>

    <div class="label">Address</div>
    <div class="inputfield">
      <div class="innerdropbox">
        <ion-input [(ngModel)]="address" style="height: 48px;" type="text"
          placeholder="e.g:136, LEWIS STREET, OBALENDE, LAGOS ISLAND, LAGOS STATE" class="in-text">
        </ion-input>
      </div>
    </div>

    <div class="label">Vehicle Registration Number</div>
    <div class="inputfield">
      <div class="innerdropbox">
        <ion-input [(ngModel)]="regNo" style="height:48px;" type="text" placeholder="MUS585AQ" class="in-text">
        </ion-input>
      </div>
    </div>

    <div class="label">Engine Number</div>
    <div class="inputfield">
      <div class="innerdropbox">
        <ion-input [(ngModel)]="engNo" style="height:48px;" type="text" placeholder="1M286534" class="in-text">
        </ion-input>
      </div>
    </div>

    <div class="label">Chasis Number</div>
    <div class="inputfield">
      <div class="innerdropbox">
        <ion-input [(ngModel)]="chasisNo" style="height:48px;" type="text" placeholder="JMTBK426481418844"
          class="in-text"></ion-input>
      </div>
    </div>

    <div class="label">Vehicle Colour</div>
    <div class="inputfield">
      <div class="innerdropbox">
        <ion-input [(ngModel)]="vehclr" style="height:48px;" type="text" placeholder="" class="in-text"></ion-input>
      </div>
    </div>

    <div class="label">Gender</div>
    <div class="dropbox">
      <div class="innerdropbox" (click)="openGenderList()">
        <div class="euro-text" style="width: 100%;">{{genderVal}}</div>
        <div class="imgdiv" style="padding-bottom: 2px; width: 5%;">
          <img style="height: 6.6px;width:11.36px" src="assets/images/down-arrow.svg" *ngIf="showGender==false">
          <img style="height: 6.6px;width:11.36px" src="assets/images/yuparrow.svg" *ngIf="showGender==true">
        </div>
      </div>
      <div *ngIf="showGender==true">
        <div *ngFor="let list of genderType; let i=index" (click)="selectGenderType(list,i)">
          <div class="euro-text1" [class.activeproduct]="list.active==true">{{list.gender}}</div>
        </div>
      </div>
    </div>

    <div class="label">Date of Birth</div>

    <div class="item-picker" style="margin: 4% 0%; --background: #E8E8E7; height: 48px; padding: 13px 15px;"
      (click)="showPickerDob = !showPickerDob">
      <div style="display: flex; align-items:center">

        <ion-text class="ion-txt" style="margin-left: 14px">{{ dateofbirth }}</ion-text>
      </div>

    </div>
    <ion-datetime class="item-picker" style="margin:10px auto 8px; color: black;" presentation="date"
      *ngIf="showPickerDob" #datetime [value]="dobValue" size="cover" (ionChange)="dobChanged(datetime.value)"
      showDefaultButtons="true" (ionCancel)="showPickerDob=false"></ion-datetime>

    <!-- <div class="label">Year of Purchase</div>

    <div class="item-picker" style="margin: 4% 0%; --background: #E8E8E7; height: 48px; padding: 13px 15px;"
      (click)="showPickerYop = !showPickerYop">
      <div style="display: flex; align-items:center">

        <ion-text class="ion-txt" style="margin-left: 14px">{{ yopdate }}</ion-text>
      </div>

    </div>
    <ion-datetime class="item-picker" style="margin:10px auto 8px; color: black;" presentation="year"
      *ngIf="showPickerYop" #datetime [value]="yopValue" size="cover" (ionChange)="yopChanged(datetime.value)"
      showDefaultButtons="true" (ionCancel)="showPickerYop=false"></ion-datetime> -->

    <!----------- seventh form ---------------------------->
    <div class="label">Year of Manufacture</div>

    <div class="item-picker" style="margin: 4% 0%; --background: #E8E8E7; height: 48px; padding: 13px 15px;"
      (click)="showPickerYom = !showPickerYom">
      <div style="display: flex; align-items:center">

        <ion-text class="ion-txt" style="margin-left: 14px">{{ yomdate }}</ion-text>
      </div>

    </div>
    <ion-datetime class="item-picker" style="margin:10px auto 8px; color: black;" presentation="year"
      *ngIf="showPickerYom" #datetime [value]="yomValue" size="cover" (ionChange)="yomChanged(datetime.value)"
      showDefaultButtons="true" (ionCancel)="showPickerYom=false"></ion-datetime>
  </div>

</ion-content>
<ion-footer>
  <div style="width: 90%;margin:8% auto;" (click)="submit()">
    <ion-button class="btn">Continue</ion-button>
  </div>
</ion-footer>
