<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row style="display: flex; align-items: center">
      <ion-col size="2" style="padding-left: 25px">
        <!-- <div style="width:100% ;" (click)="goback()">
          <img src="assets/images/back-arrow.svg" alt="sb-btn">
        </div> -->

        <ion-menu-toggle>
          <ion-buttons>
            <div style="width: 100%">
              <img src="assets/images/menuebtnblue.svg" alt="sb-btn" />
            </div>
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="8">
        <div class="title">Notifications</div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher> -->

  <ng-container *ngIf="notifications?.length >0">
    <!-- <div class="clear_div">
        <p class="clear_p" (click)="clearNotifcation()">Clear all</p>
      </div> -->

    <ion-row
      class="pdtop"
      *ngFor="let notification of notifications; let i = index"
    >
      <!-- <ion-col size="2" class="notify_image_main">
        <img src="{{base_url}}{{notification.sender_img_url}}" />
      </ion-col> -->
      <ion-col [class.oddclass]="i%2!=0" class="notify_content" size="12">
        <ion-row>
          <ion-col size="6" class="ion-text-left">
            <p class="subhead">{{notification.sender_name}}</p>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <p class="notify_time">{{notification.time_added}}</p>
          </ion-col>
          <ion-col size="12" class="ion-text-left notify_desc_main">
            <p>{{notification.content}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="notificationError == null">
      <ion-col class="ion-text-center">
        <h2>{{dataError}}</h2>
      </ion-col>
    </ion-row>
  </ng-container>
  <ng-container *ngIf="notifications?.length < 1 ">
    <ion-row>
      <ion-col class="ion-text-center">
        <h2>No notification found</h2>
      </ion-col>
    </ion-row>
  </ng-container>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
