.title{
  text-align: center;
    font-family: Bliss Pro;
    font-size: 20px;
    color: #1A206D;
    font-weight: bold;
}
.toogleclass{
  padding: 0px;
  float: right;
  --handle-width: 16px;
  --handle-height: 16px;
  width: 40px;
  height: 24px;
  --background: #5d5d5d;
  --background-checked: #1A206D;
  --handle-background-checked: #fff;
  --handle-background: #c8c7cc;
  margin-top: 1.5%;
  --handle-spacing: 4px;
}



ion-toolbar {
  padding: 0em 0em 0 0;
  --background: #c4932f;
}

ion-toolbar.ios {
  margin-top: 6px;
}

@media only screen and(min-height : 800px) {
  ion-toolbar {
      padding: 0em 0em 0px 0;
      --background: #c4932f;
  }
}

ion-title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  padding-left: 0px;
}

.b_list1 {
  margin: 0px;
  font-size: 14px;
}

.clear_div {
  display: grid;
  justify-content: center;
  padding: 0px;
}

.clear_p {
  padding-top: 5px;
  margin: 0px;
  color: #c4932f;
  text-decoration: underline;
  font-size: 14px;
}

.notify_image_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notify_image_main img {
  border-radius: 50%;
}

.notify_content p {
  margin: 0px;
}

.notify_desc {
  font-size: 10px;
}

.notify_desc_main {
  padding-top: 0px;
}

.notfy_title {
  color: #1a6bbe;
  font-size: 10px;
}

.notify_time {
  color: #A8B400;
  font-size: 10px;
}

.notify_bg {
  background: #f9f9f9;
}

.pdtop {
  // padding: 5px 0em;
  padding-right: 10px;
  padding-left: 10px;
 // padding-top: 10px;
}

.subhead{
  color: #1A0F55;
  font-size: 16px;
  font-weight: 600;
}

.oddclass{
  background: #f3f3f3;
}


p{
  color: black;
}
