<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row style="display: flex;
    align-items: center;">
      <ion-col size="2" style="padding-left: 25px;">

        <div style="width:100% ;" (click)="goback()">
          <img src="assets/images/back-arrow.svg" alt="sb-btn">
        </div>

      </ion-col>
      <ion-col size="8">
        <div class="title">Notifications</div>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div style="width: 90%;
  margin: 5% auto;">

        <ion-label style="color: #000; font-size: 18px;">Noti</ion-label>

  </div>

</ion-content>
