<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row style="display: flex;
    align-items: center;">
      <ion-col size="2" style="padding-left: 25px;">

        <div style="width:100% ;" (click)="goback()">
          <img src="assets/images/back-arrow.svg" alt="sb-btn">
        </div>

      </ion-col>
      <ion-col size="8">
        <div class="title">Renewals</div>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="wrapper">
    <!-- <ion-segment mode="ios" (ionChange)="segmentChanged($event)" #mySegment scrollable="true" class="segment1">
      <ion-segment-button mode="ios" value="renewals" class="sbtn">
        <ion-label>Renewals</ion-label>
      </ion-segment-button>
      <ion-segment-button checked mode="ios" value="subsequent" class="sbtn" [class.active]="requestsType=='subsequent'"
        style="margin-left: 5%;">
        <ion-label>Subsequent</ion-label>
      </ion-segment-button>
    </ion-segment> -->

    <!-- <div style="margin-top:30px;">
      <label class="con-l1">Policy Type</label>
      <div class="dropbox">
        <div class="innerdropbox" (click)="openlist()">
          <div class="euro-text">{{Insurance}}</div>
          <div class="imgdiv">
            <img style="height: 11px; width: 11px;" src="assets/images/down-arrow.svg" *ngIf="show==false">
            <img style="height: 11px; width: 11px;" src="assets/images/yuparrow.svg" *ngIf="show==true">
          </div>
        </div>
        <div *ngIf="show==true">
          <div *ngFor="let list of listarray" (click)="selectInsurance(list)">
            <div class="euro-text1">{{list.Insurance}}</div>
          </div>

        </div>

      </div>
    </div>

    <div *ngIf="requestsType=='renewals'">
      <div class="flex-c">
        <div>
          <img src="assets/images/car.svg">
          <div class="lebel1">Motor Insurance</div>
        </div>
        <div>
          <div class="flex-2">
            <img src="assets/images/user1.png"><span>Jhon Doe</span>
          </div>
          <div style="margin-top:10%;">
            <ion-button class="btn1">Renewal</ion-button>
          </div>
        </div>
      </div>

      <div class="flex-c" style="margin-top:5%">
        <div>
          <img src="assets/images/car.svg">
          <div class="lebel1">Motor Insurance</div>
        </div>
        <div>
          <div class="flex-2">
            <img src="assets/images/user1.png"><span>Jhon Doe</span>
          </div>
          <div style="margin-top:10%;">
            <ion-button class="btn1">Renewal</ion-button>
          </div>
        </div>
      </div>

      <div class="flex-c" style="margin-top:5%">
        <div>
          <img src="assets/images/car.svg">
          <div class="lebel1">Motor Insurance</div>
        </div>
        <div>
          <div class="flex-2">
            <img src="assets/images/user1.png"><span>Jhon Doe</span>
          </div>
          <div style="margin-top:10%;">
            <ion-button class="btn1">Renewal</ion-button>
          </div>
        </div>
      </div>
    </div> -->
    <!----------------- request type subsequent-------------------->
    <!-- <div *ngIf="requestsType=='subsequent'" >
      <div class="flex-c">
        <div>
          <img src="assets/images/car.svg">
          <div class="lebel1">Motor Insurance</div>
        </div>
        <div>
          <div class="flex-2">
            <img src="assets/images/user1.png"><span>Jhon Doe</span>
          </div>
          <div style="margin-top:10%;">
            <ion-button class="btn2">subsequent</ion-button>
          </div>
        </div>
      </div>

      <div class="flex-c" style="margin-top:5%">
        <div>
          <img src="assets/images/car.svg">
          <div class="lebel1">Motor Insurance</div>
        </div>
        <div>
          <div class="flex-2">
            <img src="assets/images/user1.png"><span>Jhon Doe</span>
          </div>
          <div style="margin-top:10%;">
            <ion-button class="btn2">subsequent</ion-button>
          </div>
        </div>
      </div>

      <div class="flex-c" style="margin-top:5%">
        <div>
          <img src="assets/images/car.svg">
          <div class="lebel1">Motor Insurance</div>
        </div>
        <div>
          <div class="flex-2">
            <img src="assets/images/user1.png"><span>Jhon Doe</span>
          </div>
          <div style="margin-top:10%;">
            <ion-button class="btn2">subsequent</ion-button>
          </div>
        </div>
      </div>
    </div> -->

    <div class="label">First Name</div>
    <div class="inputfield">
      <ion-input style="height: 48px;" type="text" placeholder="John" class="in-text" [(ngModel)]="first_name">
      </ion-input>
    </div>

    <div class="label">Last Name</div>
    <div class="inputfield">
      <ion-input style="height: 48px;" type="text" placeholder="Doe" class="in-text" [(ngModel)]="last_name">
      </ion-input>
    </div>

    <div class="label">Email</div>
    <div class="inputfield">
      <ion-input style="height: 48px;" type="email" placeholder="email" class="in-text" [(ngModel)]="email"></ion-input>
    </div>

    <div class="label">Date Of Birth</div>
    <div class="inputfield">
      <ion-input style="height: 48px;" type="text" placeholder="YYYY-MM-DD" class="in-text" [(ngModel)]="dob"
        value="dob">
      </ion-input>
    </div>

    <div class="label">Phone Number</div>
    <div class="inputfield">
      <ion-input style="height: 48px;" type="tel" placeholder="32154....." class="in-text" [(ngModel)]="phone_number">
      </ion-input>
    </div>

    <div class="label">Address</div>
    <div class="inputfield">
      <ion-input style="height: 48px;" type="text" placeholder=" Ligali Ayorinde Street" class="in-text"
        [(ngModel)]="address"></ion-input>
    </div>

    <!-- <div class="label">Vehicle Make</div>
    <div class="inputfield">
      <ion-input style="height: 48px;" type="text" placeholder="Honda " class="in-text"></ion-input>
    </div>

    <div class="label">Vehicle Model</div>
    <div class="inputfield">
      <ion-input style="height: 48px;" type="text" placeholder="Accord" class="in-text"></ion-input>
    </div>

    <div class="label">Sum Insured</div>
    <div class="inputfield">
      <ion-input style="height: 48px;" type="number" placeholder="3,200,000" class="in-text"></ion-input>
    </div>

    <div class="label">Review Sum Insured </div>
    <div class="inputfield">
      <ion-input style="height: 48px;" type="text" placeholder="" class="in-text"></ion-input>
    </div>

    <div class="label">Premium</div>
    <div class="inputfield">
      <ion-input style="height: 48px;" type="text" placeholder="3,000" class="in-text"></ion-input>
    </div> -->

    <div class="btndiv">
      <ion-button class="btn1" (click)="renewals()">Renew Policy Now</ion-button>
      <ion-button class="btn2">Schedule a reminder</ion-button>
    </div>
  </div>

</ion-content>
