
.title{
  text-align: center;
    font-family: Bliss Pro;
    font-size: 20px;
    color: #1A206D;
    font-weight: bold;
}
.head-p{
  margin: 0px;
  font-size: 20px;
  font-weight: 700;
  color: #1A206D;
  font-family: Bliss Pro;
}
.wrapper{
  width: 85%;
  margin:12% auto 5%;
  font-family: Bliss Pro;
}
.label{
  font-size: 14px;
}
ion-input {
  --ion-font-family: Bliss Pro;
}

.inputfield {
  margin: 2% 0% 4% 0%;
  background: #E8E8E7;
  border-radius: 12px;
}

.in-text {
  --color: #5D5D5D;
  --placeholder-color: #5D5D5D;
  --padding-start: 7%;
  --padding-top: 5%;
  --padding-bottom: 5%;
  font-size: 16px;
  font-weight: 400;
  --placeholder-font-weight: 400;
  // --placeholder-opacity: 100%;
}
.btndiv{
  margin-top:5%;
  display: flex;
  justify-content: space-around;
}
.btn1{

  height: 41px;
  --background: #13027B;
  --border-radius: 10px;
  font-weight: 700;
  font-size: 11px;


  color: #FFFFFF;
}
.btn2{

  height: 41px;
  --background: #A2BB06;
  --border-radius: 10px;
  font-weight: 700;
  font-size: 11px;


  color: #FFFFFF;
}

//////old code css
// .segment1 {
//   --background:none;
//   .sbtn {
//     height: 48px;
//     --border-width: 0;
//     --margin-bottom: 5px;
//     --margin-top: 5px;
//     border-radius: 12px;
//     --background-checked: #1A206D;
//     --indicator-color: transparent !important;
//     --color: #85858A;
//     --color-checked: #fff;
//     font-size: 16px;
//     font-weight: 400;
//     --background: #E8E8E7;
//   }
//   .active{
//     --background-checked: #A8B400;

//   }

// }
// .dropbox{
//   margin: 4% 0%;
//   background: #E8E8E7;
//   border-radius: 12px;
//   padding: 12px 15px;

// }
// .innerdropbox{
//   padding-left: 3px;
//   padding-right: 3px;
//   padding-top: 2px;
//   padding-bottom: 2.8px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

// }

// .euro-text{
//   font-size: 14px;
//   font-weight: 400;
//   color: #000000;

// }
// .euro-text1{
//   color: #000000;
//   font-size: 14px;
//   font-weight: 400;
//   margin-top: 5%;
// }
// .flex-c{
//   display: flex;
//     justify-content: space-around;
//     align-items: center;
//     margin-top: 10%;
//     background-color: white;
//     box-shadow: 0px 0px 20px rgb(176 181 0 / 10%);
//     padding: 22px 5px 20px 5px;
//     border-radius: 12px;
// }
// .flex-2{
//   display: flex;
//     align-items: center;
// }
// .flex-2 span{
//   color: #85858A;
//   font-size: 14px;
//   padding-left: 10%;
// }
// .lebel1{
//   color: #1A206D;
//   font-size: 18px;
//   margin-top: 10%;
// }
// .btn1{
//   --background: #1A206D;
//   --border-radius: 16px;
//   width: 110px;
//   height: 32px;
//   font-weight: 500;
//   text-transform: capitalize;
// }
// .btn2{
//   --background: #A8B400;
//   --border-radius: 16px;
//   width: 110px;
//   height: 32px;
//   font-weight: 500;
//   text-transform: capitalize;
// }
