<!-- <ion-header>
  <ion-toolbar>
    <ion-title>start-screen</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <video
    autoplay
    loop
    muted="muted"
    src="assets/shutterstock-1047139603-1.mp4"
  ></video> -->

  <video controls preload="auto" autoplay playsinline muted loop>
    <source src="assets/shutterstock-1047139603-1.mp4" />
  </video>

  <div class="main-div">
    <!-- <div style="text-align:center">
      <img src="assets/images/logo.svg" style="text-align:center ; margin-top: 24.7px;" alt="">
    </div> -->
    <p class="para-div">
      <span class="span1">Over 30 years</span><br />
      <span class="span2"
        >of providing reliable insurance cover for everyday life</span
      >
    </p>
    <div style="text-align: center">
      <ion-button class="btn" (click)="gotoSignIn()">Get Started</ion-button>
    </div>
  </div>
</ion-content>
<!-- <ion-footer>


</ion-footer>  -->
