.main-div {
    margin-top:15%;
    position: absolute;
}
// ion-content{
//     --background: url(../../assets/images/family.png) 0 0/100% no-repeat !important;
// }
.para-div{
    text-align: center;
    width: 90%;
    margin: 40% auto 20%;

}
.span1{
    font-size: 42px;
    font-weight: 400;
    color: #A9BB46;
    font-family: Bliss Pro;
}
.span2{

    font-size: 32px;
    font-weight: 400;
    color:#FFFFFF;
    font-family: Bliss Pro;
    // font-style: italic;

}
.btn{
    margin: 60px auto 12px;
    height: 48px;
    width: 40%;
    --border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    --background: #B0B500;
    font-family: Bliss Pro;
}


video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}
