<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col size="2" style="padding-left: 25px">
        <!-- <ion-buttons>
          <div style="width:100% ;">
            <img (click)="goback()" src="assets/images/back-arrow.svg" alt="sb-btn">
          </div>
        </ion-buttons> -->

        <ion-menu-toggle>
          <ion-buttons>
            <div style="width: 100%">
              <img src="assets/images/menuebtnblue.svg" alt="sb-btn" />
            </div>
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="8">
        <div class="title">Make a Quote</div>
      </ion-col>
      <ion-col class="titleclass" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div
      style="border: 1px solid #a8b400; border-radius: 12px"
      *ngIf="productname=='PRIVATE MOTOR-AUTO CLASSIC'"
    >
      <div class="main">
        <div class="cflex">
          <div class="text">
            <b>AUTO CLASS</b><br /><span
              class="cspan"
              style="padding-left: 2.5%"
              >Comprehensive</span
            >
          </div>
          <div class="text1">
            1.75%<br /><span class="cspan">Of vehicle value</span>
          </div>
        </div>
        <div>
          <div class="cflex1">
            <div class="text3">3RD PARTY PROPERTY DAMAGE</div>
            <div class="text4">Up To N1 Million</div>
          </div>

          <div class="cflex1">
            <div class="text3">3RD PARTY BODILY INJURY</div>
            <div class="text4">Up To N60 Million</div>
          </div>

          <div class="cflex1">
            <div class="text5">THIFT</div>
            <div class="imgdiv">
              <img src="assets/images/tick.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text5">FIRE</div>
            <div class="imgdiv">
              <img src="assets/images/tick.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text5">ACCIDENTAL DAMAGE</div>
            <div class="imgdiv">
              <img src="assets/images/tick.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text3">AUTHORIZED REPAIR LIMIT</div>
            <div class="text4">2.5% Of The Car Value</div>
          </div>

          <div class="cflex1">
            <div class="text3">TOWING LIMIT</div>
            <div class="text4">N 12,500</div>
          </div>

          <div class="cflex1">
            <div class="text3">DEPRECIATION RATE</div>
            <div class="text4">Graduated</div>
          </div>

          <div class="cflex1">
            <div class="text3">MINIMUM SUM INSURED</div>
            <div class="text4">₦2,000,000</div>
          </div>

          <div class="headtext">ADDITIONAL COVERS AT NO EXTRA COST</div>

          <div class="cflex1">
            <div class="text3">REFUND OF MEDICAL EXPENSES</div>
            <div class="text4">Up To ₦10,000</div>
          </div>

          <div class="cflex1">
            <div class="text3">LOSS OF PERSONAL EFFECT</div>
            <div class="text4">UP TO N 10,000</div>
          </div>

          <div class="cflex1">
            <div class="text3">TRACKING INSTALLATION</div>
            <div class="text4">Free For Vehicles Of N5,000,000 And Above</div>
          </div>

          <div class="headtext">TOP UP COVERS AVAILABLE AT EXTRA COST</div>

          <div class="cflex1">
            <div class="text3">EXCESS BUY BACK</div>
            <div class="text4">0.5% Of Sum Insured</div>
          </div>

          <div class="cflex1">
            <div class="text3">FLOOD EXTENSION</div>
            <div class="text4">0.25% Of Sum Insured</div>
          </div>

          <!-- <div class="cflex1">
            <div class="text3">TRACKING INSTALLATION</div>
            <div class="text4">Free For Vehicles Of N5,000,000 And Above</div>
          </div> -->

          <div class="cflex1">
            <div class="text5">
              PASSENGER LIABILITY OF ₦250,000 PER PASSENGER. ANNUAL AGGREGATE OF
              N 2,000,000
            </div>
            <div class="imgdiv">
              <img src="assets/images/cross.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text5">INCREASE IN PASSENGER LIABILITY</div>
            <div class="imgdiv">
              <img src="assets/images/cross.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text3">
              PAYMENT PLAN (AN ADDITIONAL 0.25% WILL BE APPLIED ON THE RATE FOR
              PAYMENTS MADE OVER 3 INSTALLMENTS)
            </div>
            <div class="text4">Up To 3 Consecutive And Equal Payments</div>
          </div>

          <div class="btndiv">
            <ion-button class="btn" (click)="goto()">Get Quote</ion-button>
          </div>
        </div>
      </div>
    </div>

    <div
      style="border: 1px solid #a8b400; border-radius: 12px"
      *ngIf="productname=='PRIVATE MOTOR-AUTO PLUS'"
    >
      <div class="main">
        <div class="cflex">
          <div class="text">
            <b>Auto Plus</b><br /><span class="cspan" style="padding-left: 2.5%"
              >Comprehensive</span
            >
          </div>
          <div class="text1">
            3%<br /><span class="cspan">Of vehicle value</span>
          </div>
        </div>
        <div>
          <div class="cflex1">
            <div class="text3">3RD PARTY PROPERTY DAMAGE</div>
            <div class="text4">Up To N1 Million</div>
          </div>

          <div class="cflex1">
            <div class="text3">3RD PARTY BODILY INJURY</div>
            <div class="text4">Up To N60 Million</div>
          </div>

          <div class="cflex1">
            <div class="text5">THIFT</div>
            <div class="imgdiv">
              <img src="assets/images/tick.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text5">FIRE</div>
            <div class="imgdiv">
              <img src="assets/images/tick.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text5">ACCIDENTAL DAMAGE</div>
            <div class="imgdiv">
              <img src="assets/images/tick.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text3">AUTHORIZED REPAIR LIMIT</div>
            <div class="text4">5% Of The Car Value</div>
          </div>

          <div class="cflex1">
            <div class="text3">TOWING LIMIT</div>
            <div class="text4">N 15,000</div>
          </div>

          <div class="cflex1">
            <div class="text3">DEPRECIATION RATE</div>
            <div class="text4">Graduated</div>
          </div>

          <div class="cflex1">
            <div class="text3">MINIMUM SUM INSURED</div>
            <div class="text4">₦3,500,000</div>
          </div>

          <div class="headtext">ADDITIONAL COVERS AT NO EXTRA COST</div>

          <div class="cflex1">
            <div class="text3">REFUND OF MEDICAL EXPENSES</div>
            <div class="text4">Up To ₦50,000</div>
          </div>

          <div class="cflex1">
            <div class="text3">LOSS OF PERSONAL EFFECT</div>
            <div class="text4">UP TO N 50,000</div>
          </div>

          <div class="cflex1">
            <div class="text3">TRACKING INSTALLATION</div>
            <div class="text4">Free For Vehicles Of N3,500,000 And Above</div>
          </div>

          <div class="headtext">TOP UP COVERS AVAILABLE AT EXTRA COST</div>

          <div class="cflex1">
            <div class="text3">EXCESS BUY BACK</div>
            <div class="text4">Included</div>
          </div>

          <div class="cflex1">
            <div class="text3">FLOOD EXTENSION</div>
            <div class="text4">Included</div>
          </div>

          <!-- <div class="cflex1">
          <div class="text3">TRACKING INSTALLATION</div>
          <div class="text4">Free For Vehicles Of N5,000,000 And Above</div>
        </div> -->

          <div class="cflex1">
            <div class="text5">
              PASSENGER LIABILITY OF ₦250,000 PER PASSENGER. ANNUAL AGGREGATE OF
              N 2,000,000
            </div>
            <div class="imgdiv">
              <img src="assets/images/cross.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text5">INCREASE IN PASSENGER LIABILITY</div>
            <div class="imgdiv">
              <img src="assets/images/cross.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text3">
              PAYMENT PLAN (AN ADDITIONAL 0.25% WILL BE APPLIED ON THE RATE FOR
              PAYMENTS MADE OVER 3 INSTALLMENTS)
            </div>
            <div class="text4">Up To 3 Consecutive And Equal Payments</div>
          </div>

          <div class="btndiv">
            <ion-button class="btn" (click)="goto()">Get Quote</ion-button>
          </div>
        </div>
      </div>
    </div>

    <div
      style="border: 1px solid #a8b400; border-radius: 12px"
      *ngIf="productname=='UBER CLASSIC MOTOR'"
    >
      <div class="main">
        <div class="cflex">
          <div class="text">
            <b>Uber Classic</b><br /><span
              class="cspan"
              style="padding-left: 2.5%"
              >Comprehensive</span
            >
          </div>
          <div class="text1">
            2.5%<br /><span class="cspan">Of vehicle value</span>
          </div>
        </div>
        <div>
          <div class="cflex1">
            <div class="text3">3RD PARTY PROPERTY DAMAGE</div>
            <div class="text4">Up To N1 Million</div>
          </div>

          <div class="cflex1">
            <div class="text3">3RD PARTY BODILY INJURY</div>
            <div class="text4">Up To N60 Million</div>
          </div>

          <div class="cflex1">
            <div class="text5">THIFT</div>
            <div class="imgdiv">
              <img src="assets/images/tick.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text5">FIRE</div>
            <div class="imgdiv">
              <img src="assets/images/tick.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text5">ACCIDENTAL DAMAGE</div>
            <div class="imgdiv">
              <img src="assets/images/tick.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text3">AUTHORIZED REPAIR LIMIT</div>
            <div class="text4">5% Of The Car Value</div>
          </div>

          <div class="cflex1">
            <div class="text3">TOWING LIMIT</div>
            <div class="text4">N 12,500</div>
          </div>

          <div class="cflex1">
            <div class="text3">DEPRECIATION RATE</div>
            <div class="text4">Flat</div>
          </div>

          <div class="cflex1">
            <div class="text3">MINIMUM SUM INSURED</div>
            <div class="text4">₦1,500,000</div>
          </div>

          <div class="headtext">ADDITIONAL COVERS AT NO EXTRA COST</div>

          <div class="cflex1">
            <div class="text3">REFUND OF MEDICAL EXPENSES</div>
            <div class="imgdiv">
              <img src="assets/images/cross.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text3">LOSS OF PERSONAL EFFECT</div>
            <div class="imgdiv">
              <img src="assets/images/cross.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text3">TRACKING INSTALLATION</div>
            <div class="imgdiv">
              <img src="assets/images/cross.svg" />
            </div>
          </div>

          <div class="headtext">TOP UP COVERS AVAILABLE AT EXTRA COST</div>

          <div class="cflex1">
            <div class="text3">EXCESS BUY BACK</div>
            <div class="text4">1% of sum insured</div>
          </div>

          <div class="cflex1">
            <div class="text3">FLOOD EXTENSION</div>
            <div class="text4">0.25% of Sum Insured</div>
          </div>

          <!-- <div class="cflex1">
          <div class="text3">TRACKING INSTALLATION</div>
          <div class="text4">Free For Vehicles Of N5,000,000 And Above</div>
        </div> -->

          <div class="cflex1">
            <div class="text5">
              PASSENGER LIABILITY OF ₦250,000 PER PASSENGER. ANNUAL AGGREGATE OF
              N 2,000,000
            </div>
            <div class="imgdiv">
              <img src="assets/images/tick.svg" />
            </div>
          </div>

          <div class="cflex1">
            <div class="text5">INCREASE IN PASSENGER LIABILITY</div>
            <div class="text4">@ 0.375% of increased benefit</div>
          </div>

          <div class="cflex1">
            <div class="text3">
              PAYMENT PLAN (AN ADDITIONAL 0.25% WILL BE APPLIED ON THE RATE FOR
              PAYMENTS MADE OVER 3 INSTALLMENTS)
            </div>
            <div class="text4">Once</div>
          </div>

          <div class="btndiv">
            <ion-button class="btn" (click)="goto()">Get Quote</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
