<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col size="2" style="padding-left: 25px">
        <ion-buttons>
          <div style="width: 100%">
            <img
              (click)="goback()"
              src="assets/images/back-arrow.svg"
              alt="sb-btn"
            />
          </div>
        </ion-buttons>
      </ion-col>
      <ion-col size="8">
        <!-- <div class="title">THE IMPORTANCE OF SAVING FOR THE RAINY DAY</div> -->
        <div class="title"></div>
      </ion-col>
      <ion-col class="titleclass" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="headcls">EMBER PROMO IS HERE</div>
    <p>
      Save money this Ember period when you get our private motor comprehensive
      policy (auto classic or auto plus). The Ember Promo allows customers to
      buy a 1-year policy and only pay for 11 months, hence One Month is FREE.
      So, you are paying for only 11 months instead of 12. The Ember Promo runs
      from September 1st 2022, to January 31st, 2023. What You Stand to Gain
      from the Ember Promo<br />
      <span style="color: #1a0f55; font-size: 16px; font-weight: 600"
        >The Ember Promo covers you from:</span
      >
      <br />
      - Accidental damage to an insured vehicle.<br />
      - Loss or damage to an insured vehicle resulting from fire or theft.<br />
      - Damage caused by a malicious act, a strike, a riot, or a civil commotion
      (an additional cost for the auto classic plan).<br />
      - Damage to the third-party vehicle up to a limit of N1,000,000.<br />
      - Damage to third-party property up to a limit of N1,000,000.<br />
      - Unlimited (but reasonable) liability for death or bodily injury to third
      parties.<br />
      - Refund for medical expenses with limits, and much more.<br />
      So, make haste today, while the offer lasts.
    </p>
  </div>
</ion-content>
