<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col size="2" style="padding-left: 25px;">
        <ion-buttons>
          <div style="width:100% ;">
            <img (click)="goback()" src="assets/images/back-arrow.svg" alt="sb-btn">
          </div>
        </ion-buttons>
      </ion-col>
      <ion-col size="8">
        <div class="title">CLAIM ASSISTANCE</div>
      </ion-col>
      <ion-col class="titleclass" size="2">
      </ion-col>


    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="headcls">1. GET IMMEDIATE CLAIM ASSISTANCE</div>
    <p>Processing motor insurance claim is easier than you think. It’s much simpler using the following steps to settle
      claims for an accident</p>
    <div class="subhead">-LONE ACCIDENT</div>
    <p>Completed claim form. (This can be optional if the mobile app is developed with the claim form interface)<br>
      Estimate of repairs on a garage letter head.<br>
      Photographs explicitly showing the registration number and damaged area of the vehicle.<br>
      Driving license of the driver</p>

    <div class="subhead">- WHEN THIRD-PARTY IS INVOLVED.</div>
    <p>Certificate of Insurance of the Negligent third-party.<br>
      Photocopy of the Negligent third-party Driver’s licence.<br>
      Undertaking letter from the Negligent third-party admitting liability.<br>
      All require documents for the lone accident
    </p>

    <div class="subhead">- VANDALIZED VEHICLE</div>
    <p>Completed vandalized completed claim form.<br>
      Estimate of repairs on garage letter head.<br>
      Photographs explicitly showing the registration number and damaged area of the vehicle.<br>
      Driving license of the driver.<br>
      Police report</p>

    <div class="headcls">2. EMBER PROMO IS HERE</div>
    <p>Save money this Ember period when you get our private motor comprehensive policy (auto
      classic or auto plus). The Ember Promo allows customers to buy a 1-year policy and only
      pay for 11 months, hence One Month is FREE. So, you are paying for only 11 months
      instead of 12. The Ember Promo runs from September 1st 2022, to January 31st, 2023.
      What You Stand to Gain from the Ember Promo<br>
      <span style=" color: #1A0F55;
     font-size: 16px;
     font-weight: 600;">The Ember Promo covers you from:</span> <br>
      - Accidental damage to an insured vehicle.<br>
      - Loss or damage to an insured vehicle resulting from fire or theft.<br>
      - Damage caused by a malicious act, a strike, a riot, or a civil commotion (an
      additional cost for the auto classic plan).<br>
      - Damage to the third-party vehicle up to a limit of N1,000,000.<br>
      - Damage to third-party property up to a limit of N1,000,000.<br>
      - Unlimited (but reasonable) liability for death or bodily injury to third parties.<br>
      - Refund for medical expenses with limits, and much more.<br>
      So, make haste today, while the offer lasts.
    </p>

    <div class="headcls">3. THE IMPORTANCE OF SAVING FOR A RAINY DAY</div>
    <p>One of the best ways to become financially stable is to learn the habit of saving money. A good savings attitude
      helps you maintain a
      debt-free lifestyle. Once life uncertainties like job loss or disability pop up, you’ll be able to settle them
      with your savings. However,
      saving for a rainy day isn’t only about planning; it’s about the will to keep some part of your earnings and use
      them when the need
      arises. In this article, we’ll introduce you to our iSave plan and the benefits you can get from it.
    </p>
    <div class="subhead">Who Needs this Plan</div>
    <p>
      iSave Plan is for individuals who want short-term savings to help cover future needs. Whether you’re looking to
      save funds for a
      master’s degree, start a business or pay for your house rent, this plan gives you limitless access to achieving
      your financial goals.
    </p>
    <div class="subhead">Features of iSave Plan</div>

    <p>You are eligible to take up this plan if you are under the age of 65<br>
      Policy term is 2 years renewable and Interest rate is SDR+4% (SDR is the CBN stipulated minimum savings deposit
      rate banks can pay on savings accounts and is usually 10% of Monetary Policy Rate (MPR)<br>
      The policy can be surrendered after a minimum of 13 months with no withdrawal fees (earlier surrender will attract
      charges)<br>
      The minimum contribution is 5,000</p>

    <div class="subhead">Benefits of iSave Plan</div>
    Creates capital for future needs (i.e., school fees, home ownership, start own business etc.)<br>
    The sum assured (Life cover ranging from 100,000 – 1,000,000) requires a one-time payment (known as risk premium) of
    1% of the sum assured, then the Risk Premium will be N2,000. For a sum assured of N500,000 the Risk Premium will be
    N10,000 etc.<br>
    Besides the short-term access, customers get life insurance coverage. This becomes helpful in the event of death as
    the account balance and sum assured are paid to the named beneficiary
  </div>
</ion-content>
