<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col size="2" style="padding-left: 25px">
        <ion-buttons>
          <div style="width:100% ;">
            <img (click)="goback()" src="assets/images/back-arrow.svg" alt="sb-btn">
          </div>
        </ion-buttons>

        <!-- <ion-menu-toggle>
          <ion-buttons>
            <div style="width: 100%">
              <img src="assets/images/menuebtnblue.svg" alt="sb-btn" />
            </div>
          </ion-buttons>
        </ion-menu-toggle> -->
      </ion-col>
      <ion-col size="8">
        <div class="title">CLAIM ASSISTANCE</div>
      </ion-col>
      <ion-col class="titleclass" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="headcls">GET IMMEDIATE CLAIM ASSISTANCE</div>
    <p>
      Processing motor insurance claim is easier than you think. It’s much
      simpler using the following steps to settle claims for an accident
    </p>
    <div class="subhead">-LONE ACCIDENT</div>
    <p>
      Completed claim form. (This can be optional if the mobile app is developed
      with the claim form interface)<br />
      Estimate of repairs on a garage letter head.<br />
      Photographs explicitly showing the registration number and damaged area of
      the vehicle.<br />
      Driving license of the driver
    </p>

    <div class="subhead">- WHEN THIRD-PARTY IS INVOLVED.</div>
    <p>
      Certificate of Insurance of the Negligent third-party.<br />
      Photocopy of the Negligent third-party Driver’s licence.<br />
      Undertaking letter from the Negligent third-party admitting liability.<br />
      All require documents for the lone accident
    </p>

    <div class="subhead">- VANDALIZED VEHICLE</div>
    <p>
      Completed vandalized completed claim form.<br />
      Estimate of repairs on garage letter head.<br />
      Photographs explicitly showing the registration number and damaged area of
      the vehicle.<br />
      Driving license of the driver.<br />
      Police report
    </p>
  </div>
</ion-content>
