<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col size="2" style="padding-left: 25px;">
        <ion-buttons>
          <div style="width:100% ;">
            <img (click)="goback()" src="assets/images/back-arrow.svg" alt="sb-btn">
          </div>
        </ion-buttons>
      </ion-col>
      <ion-col size="8">
        <div class="title">Make a Quote</div>
      </ion-col>
      <ion-col class="titleclass" size="2">
      </ion-col>


    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="wrapper">
    <div style="display:flex;align-items: center;
    justify-content: space-around;">
      <img height="50px" src="assets/images/access_point.png">
      <h1 style="margin:0px;"> Your quote is ready. </h1>
    </div>

    <div class="box box-success" *ngIf="value=='Third Party'">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table quotetable table-bordered">
            <tbody>
              <tr *ngIf="quoteArrayLength=='5'">
                <td style="width: 30%; color: black;">First Name</td>
                <td style="color: black;">{{firstName}}</td>
              </tr>
              <tr *ngIf="quoteArrayLength=='5'">
                <td style="color: black;">Last Name</td>
                <td style="color: black;">{{lastName}}</td>
              </tr>
              <tr *ngIf="quoteArrayLength=='4'">
                <td style="width: 40%; color: black;">Name of Company</td>
                <td style="color: black;">{{companyName}}</td>
              </tr>
              <tr>
                <td style="color: black;">Vehicle Make</td>
                <td style="color: black;">{{vehicleMake}}</td>
              </tr>
              <tr>
                <td style="color: black;">Vehicle Class</td>
                <td style="color: black;">{{vehicleClass}}</td>
              </tr>
              <tr>
                <td style="color: black;">Quote</td>
                <td style="color: black;">{{quote}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="box box-success" *ngIf="value=='Enhanced Comprehensive'">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table quotetable table-bordered">
            <tbody>
              <tr >
                <td style="width: 30%; color: black;">Vehicle Make</td>
                <td style="color: black;">{{vehicleMake}}</td>
              </tr>
              <tr >
                <td style="color: black;">Vehicle Class</td>
                <td style="color: black;">{{vehicleClass}}</td>
              </tr>
              <tr >
                <td style="width: 40%; color: black;">Value of Vehicle</td>
                <td style="color: black;">{{valueOfVehice}}</td>
              </tr>
              <tr>
                <td style="color: black;">Actual Premium</td>
                <td style="color: black;">{{actualPremium}}</td>
              </tr>
              <tr>
                <td style="color: black;">Flood Extension</td>
                <td style="color: black;">{{floodExtension}}</td>
              </tr>
              <tr>
                <td style="color: black;">Excess Buy Back</td>
                <td style="color: black;">{{excessBuyBack}}</td>
              </tr>
              <tr>
                <td style="color: black;">Tracking Charge</td>
                <td style="color: black;">{{trackingCharge}}</td>
              </tr>
              <tr>
                <td style="color: black;">Quote</td>
                <td style="color: black;">{{quote}}</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="btndiv">
      <ion-button class="btn" (click)="buyOnlineQuote()">Buy Online Now </ion-button>
      <ion-button class="btn1" (click)="getAnewQuote()">Get a new quote </ion-button>
    </div>

  </div>
</ion-content>
