.title{
  text-align: center;
    font-family: Bliss Pro;
    font-size: 20px;
    color: #1A206D;
    font-weight: bold;
}
.title-div{
    display: flex;
    width: 85%;
    margin: 20px auto 0px;
    align-items: center;
}
p.para {
    margin: 0px;
    padding-bottom: 2px;
    font-size: 20px;
    font-weight: 700;
    color: #1A206D;
}
.input{
    height: 48px;
    width: 100%;
    margin: 20px auto 0px;
    border-radius: 12px;
    background: #E8E8E7;
    color: black;
    --placeholder-color: #5D5D5D;
    --placeholder-font-weight: 400;
    --placeholder-font-size: 14px;
    --padding-start: 8px;
    --padding-end: 20px;
}
.btn{
    width: 80%;
    height: 48px;
    /* margin-top: 20px; */
    --border-radius: 12px;
    font-size: 20px;
    font-family: Bliss Pro;
    font-weight: 500;
    letter-spacing: 0.5px;
    --background: #1A206D;
}
.container {
    width: 85%;
    margin: 20px auto 0px;
}
p.con-p1 {
    margin: 0px;
    margin-top: 32px;
    margin-left: 7px;
    font-size: 16px;
    font-weight: 500;
    color: #1A206D;
}


p.con-p2 {
    margin: 0px;
    font-size: 33px;
    font-weight: 700;
    color: #1A206D;
    /* width: 60%; */
}
.img-div {
    text-align: center;
    margin: 60px auto 0px 10px;
}
.btn-footer {
    width: 85%;
    margin: 20px auto 30px;
}
ion-input {
    --ion-font-family: Bliss Pro;
}
