<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col size="2" style="padding-left: 25px;">
        <ion-buttons>
          <div style="width:100% ;">
            <img (click)="goback()" src="assets/images/back-arrow.svg" alt="sb-btn">
          </div>
        </ion-buttons>
      </ion-col>
      <ion-col size="8">
        <div class="title">Make a Quote</div>
      </ion-col>
      <ion-col class="titleclass" size="2">
      </ion-col>


    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="htext">Your Details</div>
    <div class="flex-cls">
      <!-- <div>
        <img src="assets/images/slider/1.svg">
      </div> -->
      <div style="width:80%;margin:0% auto;">
        
        <!----------- fifth form ---------------------------->
        <div class="label">Full Name <span style="color:#A8B400;">*Please re-enter your full name as you want it to appear on your certificate.</span></div>
        <div class="inputfield">
          <div class="innerdropbox">
            <ion-input [(ngModel)]="fullName" style="height:48px;" type="text" placeholder="" class="in-text"></ion-input>
          </div>
        </div>
        
        <!----------- fifth form ---------------------------->
        <div class="label">Vehicle Registration Number <span style="color:#A8B400;">*</span></div>
        <div class="inputfield">
          <div class="innerdropbox">
            <ion-input [(ngModel)]="regNo" style="height:48px;" type="text" placeholder="MUS585AQ" class="in-text"></ion-input>
          </div>
        </div>
        
        <!----------- fifth form ---------------------------->
        <div class="label">Engine Number <span style="color:#A8B400;">*</span></div>
        <div class="inputfield">
          <div class="innerdropbox">
            <ion-input [(ngModel)]="engNo" style="height:48px;" type="text" placeholder="1M286534" class="in-text"></ion-input>
          </div>
        </div>
        <!----------- fifth form ---------------------------->
        <div class="label">Chasis Number <span style="color:#A8B400;">*</span></div>
        <div class="inputfield">
          <div class="innerdropbox">
            <ion-input [(ngModel)]="chasisNo" style="height:48px;" type="text" placeholder="JMTBK426481418844" class="in-text"></ion-input>
          </div>
        </div>
        <!----------- fifth form ---------------------------->
        <div class="label">Vehicle Colour <span style="color:#A8B400;">*</span></div>
        <div class="inputfield">
          <div class="innerdropbox">
            <ion-input [(ngModel)]="vehclr" style="height:48px;" type="text" placeholder="" class="in-text"></ion-input>
          </div>
        </div>
        <!----------- fifth form ---------------------------->
        <div class="label">Address <span style="color:#A8B400;">*</span></div>
        <div class="inputfield">
          <div class="innerdropbox">
            <ion-input [(ngModel)]="clientAddress" style="height:48px;" type="text" placeholder="e.g:136, LEWIS STREET, OBALENDE, LAGOS ISLAND,LAGOS STATE" class="in-text"></ion-input>
          </div>
        </div>
        
        <!----------- seventh form ---------------------------->
        <div class="label">Gender <span style="color:#A8B400;">*</span></div>
        <div class="dropbox">
          <div class="innerdropbox" (click)="openGenderList()">
            <div class="euro-text">{{genderVal}}</div>
            <div class="imgdiv" style="padding-bottom: 2px;">
              <img style="height: 6.6px;width:11.36px" src="assets/images/down-arrow.svg" *ngIf="showGender==false">
              <img style="height: 6.6px;width:11.36px" src="assets/images/yuparrow.svg" *ngIf="showGender==true">
            </div>
          </div>
          <div *ngIf="showGender==true">
            <div *ngFor="let list of genderType" (click)="selectGenderType(list)">
              <div class="euro-text1">{{list.gender}}</div>
            </div>

          </div>

        </div>
        <!----------- seventh form ---------------------------->
        <div class="label">Date of Birth <span style="color:#A8B400;">*This is a NAICOM KYC Reqirement.</span></div>
        
        <div class="item-picker" style="margin: 4% 0%; --background: #E8E8E7; height: 48px; padding: 13px 15px;" (click)="showPickerDob = !showPickerDob">
          <div style="display: flex; align-items:center">
           
            <ion-text class="ion-txt" style="margin-left: 14px" >{{ dobValue }}</ion-text>
          </div>
          
        </div>
        <ion-datetime  class="item-picker" style="margin:10px auto 8px; color: black;" presentation="date" *ngIf="showPickerDob" #datetime [value]="dobValue" size="cover" (ionChange)="dobChanged(datetime.value)" showDefaultButtons="true"  (ionCancel)="showPickerDob=false"></ion-datetime>
        
        <!----------- seventh form ---------------------------->
        <div class="label">Incorporation <span style="color:#A8B400;">*</span></div>
        
        <div class="item-picker" style="margin: 4% 0%; --background: #E8E8E7; height: 48px; padding: 13px 15px;" (click)="showPickerCorp = !showPickerCorp">
          <div style="display: flex; align-items:center">
           
            <ion-text class="ion-txt" style="margin-left: 14px" >{{ corpValue }}</ion-text>
          </div>
          
        </div>
        <ion-datetime  class="item-picker" style="margin:10px auto 8px; color: black;" presentation="date" *ngIf="showPickerCorp" #datetime [value]="corpValue" size="cover" (ionChange)="corpChanged(datetime.value)" showDefaultButtons="true"  (ionCancel)="showPickerCorp=false"></ion-datetime>

        <!----------- seventh form ---------------------------->
        <div class="label">Year of Purchase <span style="color:#A8B400;">*</span></div>
        
        <div class="item-picker" style="margin: 4% 0%; --background: #E8E8E7; height: 48px; padding: 13px 15px;" (click)="showPickerYop = !showPickerYop">
          <div style="display: flex; align-items:center">
            
            <ion-text class="ion-txt" style="margin-left: 14px" >{{ yopValue }}</ion-text>
          </div>
          
        </div>
        <ion-datetime  class="item-picker" style="margin:10px auto 8px; color: black;" presentation="year" *ngIf="showPickerYop" #datetime [value]="yopValue" size="cover" (ionChange)="yopChanged(datetime.value)" showDefaultButtons="true"  (ionCancel)="showPickerYop=false"></ion-datetime>

        <!----------- seventh form ---------------------------->
        <div class="label">Year of Manufacture <span style="color:#A8B400;">*</span></div>
        
        <div class="item-picker" style="margin: 4% 0%; --background: #E8E8E7; height: 48px; padding: 13px 15px;" (click)="showPickerYom = !showPickerYom">
          <div style="display: flex; align-items:center">
           
            <ion-text class="ion-txt" style="margin-left: 14px" >{{ yomValue }}</ion-text>
          </div>
          
        </div>
        <ion-datetime  class="item-picker" style="margin:10px auto 8px; color: black;" presentation="year" *ngIf="showPickerYom" #datetime [value]="yomValue" size="cover" (ionChange)="yomChanged(datetime.value)" showDefaultButtons="true"  (ionCancel)="showPickerYom=false"></ion-datetime>
        
        <!----------- seventh form ---------------------------->
        <div class="label">Vehicle Licence  <span style="color:#A8B400;">*Maximum file size 2MB</span></div>
        
        <div class="inputfield" style="display:flex ; height: 48px;">
          <ion-input style="width:100% ;" disabled="true" >{{imgurl}}</ion-input>
          <ion-button style="height: 40px;--background: white; color: #1A206D;" (click)="selectImage('license')"> Choose file</ion-button>
        </div>
        <div style="height: 100px; width:100px; text-align: center;" *ngIf="imgURL"><img style="height: 100px; width:100px" src="{{imgURL}}" alt=""></div>
        
        <!----------- seventh form ---------------------------->
        <div class="label">Valid Drivers license/National Identity Card/International Pasport  <span style="color:#A8B400;">*Maximum file size 2MB</span></div>
        
        <div class="inputfield" style="display:flex ; height: 48px;">
          <ion-input style="width:100% ;" disabled="true" >{{imgurl1}}</ion-input>
          <ion-button style="height: 40px;--background: white; color: #1A206D;" (click)="selectImage('nic')"> Choose file</ion-button>
        </div>
        <div style="height: 100px; width:100px; text-align: center;" *ngIf="imgURL1"><img style="height: 100px; width:100px" src="{{imgURL1}}" alt=""></div>

        <!----------- seventh form ---------------------------->
        <div class="label">Who referred you? <span style="color:#A8B400;">*Please enter the name and if possible phone number of the referrer.</span></div>
        <div class="dropbox">
          <div class="innerdropbox" (click)="openReferrerList()">
            <div class="euro-text">{{referrerVal}}</div>
            <div class="imgdiv" style="padding-bottom: 2px;">
              <img style="height: 6.6px;width:11.36px" src="assets/images/down-arrow.svg" *ngIf="showReferrer==false">
              <img style="height: 6.6px;width:11.36px" src="assets/images/yuparrow.svg" *ngIf="showReferrer==true">
            </div>
          </div>
          <div *ngIf="showReferrer==true" style="height: 120px; overflow: scroll;">
            <div *ngFor="let list of referrerList" (click)="selectReferrerType(list)">
              <div class="euro-text1">{{list}}</div>
            </div>

          </div>

        </div>

        <!----------- fifth form ---------------------------->
      
        <div class="inputfield">
          <div class="innerdropbox">
            <ion-input [(ngModel)]="referrerData" style="height:48px;" type="text" placeholder="Enter name, Branch and mobile number" class="in-text"></ion-input>
          </div>
        </div>

        <div style="width: 90%;margin:8% auto;" (click)="submitProposal()">
          <ion-button class="btn">Submit Proposal</ion-button>
        </div>

      </div>
    </div>

  </div>

</ion-content>
