<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col size="2" style="padding-left: 25px;">
        <ion-buttons>
          <div style="width:100% ;">
            <img (click)="goback()" src="assets/images/back-arrow.svg" alt="sb-btn">
          </div>
        </ion-buttons>
      </ion-col>
      <ion-col size="8">
        <div class="title">Make a Quote</div>
      </ion-col>
      <ion-col class="titleclass" size="2">
      </ion-col>


    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="htext">Your Details</div>
    <div class="flex-cls">
      <!-- <div>
        <img src="assets/images/slider/1.svg">
      </div> -->
      <div style="width:80%;margin:0% auto;">
        
        <!----------- fifth form ---------------------------->
        <div class="label">Full Name <span style="color:#A8B400;">*Please re-enter your full name as you want it to appear on your certificate.</span></div>
        <div class="inputfield">
          <div class="innerdropbox">
            <ion-input [(ngModel)]="fullName" type="text" placeholder="" class="in-text"></ion-input>
          </div>
        </div>
        
        <!----------- fifth form ---------------------------->
        <div class="label">Vehicle Registration Number <span style="color:#A8B400;">*</span></div>
        <div class="inputfield">
          <div class="innerdropbox">
            <ion-input [(ngModel)]="regNo" type="text" placeholder="MUS585AQ" class="in-text"></ion-input>
          </div>
        </div>
        
        <!----------- fifth form ---------------------------->
        <div class="label">Engine Number <span style="color:#A8B400;">*</span></div>
        <div class="inputfield">
          <div class="innerdropbox">
            <ion-input [(ngModel)]="engNo" type="text" placeholder="1M286534" class="in-text"></ion-input>
          </div>
        </div>
        <!----------- fifth form ---------------------------->
        <div class="label">Chasis Number <span style="color:#A8B400;">*</span></div>
        <div class="inputfield">
          <div class="innerdropbox">
            <ion-input [(ngModel)]="chasisNo" type="text" placeholder="JMTBK426481418844" class="in-text"></ion-input>
          </div>
        </div>
        <!----------- fifth form ---------------------------->
        <div class="label">Vehicle Colour <span style="color:#A8B400;">*</span></div>
        <div class="inputfield">
          <div class="innerdropbox">
            <ion-input [(ngModel)]="vehclr" type="text" placeholder="" class="in-text"></ion-input>
          </div>
        </div>
        <!----------- fifth form ---------------------------->
        <div class="label">Address <span style="color:#A8B400;">*</span></div>
        <div class="inputfield">
          <div class="innerdropbox">
            <ion-input [(ngModel)]="clientAddress" type="text" placeholder="e.g:136, LEWIS STREET, OBALENDE, LAGOS ISLAND,LAGOS STATE" class="in-text"></ion-input>
          </div>
        </div>
        <!----------- fifth form ---------------------------->
        <div class="label">Engine Number <span style="color:#A8B400;">*</span></div>
        <div class="inputfield">
          <div class="innerdropbox">
            <ion-input [(ngModel)]="engNo" type="text" placeholder="1M286534" class="in-text"></ion-input>
          </div>
        </div>

        <!----------- seventh form ---------------------------->
        <div class="label">Gender <span style="color:#A8B400;">*</span></div>
        <div class="dropbox">
          <div class="innerdropbox" (click)="openGenderList()">
            <div class="euro-text">{{genderVal}}</div>
            <div class="imgdiv">
              <img src="assets/images/down-arrow.svg" *ngIf="showGender==false">
              <img src="assets/images/yuparrow.svg" *ngIf="showGender==true">
            </div>
          </div>
          <div *ngIf="showGender==true">
            <div *ngFor="let list of genderType" (click)="selectGenderType(list)">
              <div class="euro-text1">{{list.gender}}</div>
            </div>

          </div>

        </div>
        <!----------- seventh form ---------------------------->
        <div class="label">Date of Birth <span style="color:#A8B400;">*This is a NAICOM KYC Reqirement.</span></div>
        <ion-grid style="padding: 0px;">
          <ion-row>
          
            <ion-col size="4">
              <div class="dropbox" style="padding: 12px 10px;" >
                <div class="innerdropbox" (click)="openDayList()" >
                  <div class="euro-text" style="text-align:center ; width: 100%;" >
                    <ion-label *ngIf="showDay==false"> {{dayVal}}</ion-label>
                  </div>
                  <div class="imgdiv">
                    <img src="assets/images/down-arrow.svg" *ngIf="showDay==false">
                    <img src="assets/images/yuparrow.svg" *ngIf="showDay==true">
                  </div>
                </div>
                <div *ngIf="showDay==true" style="line-height: 20px; overflow: scroll; height: 88px; text-align: center;">
                  <div *ngFor="let list of dateDay" (click)="selectDay(list)">
                    <div class="euro-text1">{{list.day}}</div>
                  </div>
                </div>
              </div>
            </ion-col>
            
            <ion-col size="4">
              <div class="dropbox" style="padding: 12px 10px;">
                <div class="innerdropbox" (click)="openMonthList()">
                  <div class="euro-text" style="text-align:center ; width: 100%;" >
                    <ion-label *ngIf="showMonth==false"> {{monthVal}}</ion-label>
                  </div>
                  <div class="imgdiv">
                    <img src="assets/images/down-arrow.svg" *ngIf="showMonth==false">
                    <img src="assets/images/yuparrow.svg" *ngIf="showMonth==true">
                  </div>
                </div>
                <div *ngIf="showMonth==true" style="line-height: 20px;text-align:center ; overflow: scroll; height: 88px;">
                  <div *ngFor="let list of dateMonth" (click)="selectMonth(list)">
                    <div class="euro-text1">{{list.month}}</div>
                  </div>
                </div>
              </div>               
            </ion-col>
            
            <ion-col size="4">
              <div class="dropbox" style="padding: 12px 10px;">
                <div class="innerdropbox" (click)="openYearList()">
                  <div class="euro-text" style="text-align:center ; width: 100%;" >
                    <ion-label *ngIf="showYear==false"> {{yearVal}}</ion-label>
                  </div>
                  <div class="imgdiv">
                    <img src="assets/images/down-arrow.svg" *ngIf="showYear==false">
                    <img src="assets/images/yuparrow.svg" *ngIf="showYear==true">
                  </div>
                </div>
                <div *ngIf="showYear==true" style="line-height: 20px; overflow: scroll; height: 88px; text-align: center;">
                  <div *ngFor="let list of dateYear" (click)="selectYear(list)">
                    <div class="euro-text1">{{list.year}}</div>
                  </div>
                </div>
              </div> 
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <!----------- seventh form ---------------------------->
        <div class="label">Year of Purchase <span style="color:#A8B400;">*</span></div>
        <div class="dropbox">
          <div class="innerdropbox" (click)="openGenderList()">
            <div class="euro-text">{{genderVal}}</div>
            <div class="imgdiv">
              <img src="assets/images/down-arrow.svg" *ngIf="showGender==false">
              <img src="assets/images/yuparrow.svg" *ngIf="showGender==true">
            </div>
          </div>
          <div *ngIf="showGender==true">
            <div *ngFor="let list of genderType" (click)="selectGenderType(list)">
              <div class="euro-text1">{{list.gender}}</div>
            </div>

          </div>

        </div>
      
        
        
        
        





        <div style="width: 90%;margin:8% auto;" (click)="continue()">
          <ion-button class="btn">Continue</ion-button>
        </div>

      </div>
    </div>

  </div>

</ion-content>
