<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col size="2" style="padding-left: 25px">
        <!-- <ion-buttons>
          <div style="width:100% ;">
            <img (click)="goback()" src="assets/images/back-arrow.svg" alt="sb-btn">
          </div>
        </ion-buttons> -->

        <ion-menu-toggle>
          <ion-buttons>
            <div style="width: 100%">
              <img src="assets/images/menuebtnblue.svg" alt="sb-btn" />
            </div>
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="8">
        <div class="title">Terms and Condition</div>
      </ion-col>
      <ion-col class="titleclass" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h4><b>Introduction</b></h4>
    <p style="color: #000">
      Welcome to Cornerstone Insurance Plc! By using our mobile app and/or using the services that are provided, you
      acknowledge that you have read, understood, and agree to be bound by our Terms and Conditions. These Terms and
      Conditions unconditionally extend and apply to all related applications, internet service or website extensions.
      If you are not in agreement with all of these Terms and Conditions, you are prohibited from using this Mobile
      Application, and you may discontinue use immediately. Cornerstone Insurance Plc. recommends that you save or print
      a copy of these Terms and Conditions for future reference.
    </p>

    <h4><b>Agreement to Terms and Conditions</b></h4>
    <p> Cornerstone Insurance Plc. Terms and Conditions (these “Terms” or these “Terms and Conditions”) contained in
      this Agreement shall govern your use of this Mobile app and all its content (collectively referred to herein as
      this “Mobile app”). These Terms outline the rules and regulations guiding the use of the Cornerstone Insurance
      located at <a href="https://apps.apple.com/ng/app/cornerstone-insurance-plc/id6449826223">
        https://apps.apple.com/ng/app/cornerstone-insurance-plc/id6449826223</a>.
    </p>

    <h4><b>Definitions/Terminology</b></h4>
    <p>
      The following definitions apply to these Terms and Conditions, Privacy Statement, Disclaimer Notice, and all
      Agreements: “User”, “Visitor”, “Client”, “Customer”, “You”, and “Your”, refers to you, the person(s) that use this
      App. “Cornerstone Insurance Plc.”, “We”, “Our”, and “Us”, refers to our Mobile App/Company. “Party”, “Parties”, or
      “Us”, refers to both you and us. All terms refer to all considerations of Cornerstone Insurance App necessary to
      undertake support to you for the express purpose of meeting your user needs in respect of our services, under and
      subject to, prevailing law of the state or country in which Cornerstone Insurance Mobile App operates (Nigeria).
      Any use of these definitions or other glossary in the singular, plural, capitalization, and/or pronoun are
      interchangeable but refer to the same.

    </p>
    <h4><b>Intellectual Property Rights</b></h4>
    <p>
      Other than the content you own and opted to include on this Application, under these Terms, Cornerstone Insurance
      Plc Mobile Application and or its licensors own and reserve all intellectual property rights of this Mobile
      Application. You are granted a limited license, subject to the restrictions entailed in these Terms and
      Conditions, for purpose of viewing the Mobile Application’s content.

    </p>




  </div>
</ion-content>