<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col size="2" style="padding-left: 25px;">
        <ion-buttons>
          <div style="width:100% ;">
            <img (click)="goback()" src="assets/images/back-arrow.svg" alt="sb-btn">
          </div>
        </ion-buttons>
      </ion-col>
      <ion-col size="8">
        <div class="title">Motor Products</div>
      </ion-col>
      <ion-col class="titleclass" size="2">
      </ion-col>


    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="container">

    <div class="c-center">
      <p class="con-p1">Make a Quote</p>
    </div>
    <div style="font-size: 20px;
    color: #000;
    font-weight: 500;
    margin-bottom: 3%;">The products for mobile are:</div>



    <div class="boxdiv" *ngFor="let gibs of motorsubproducts">
      <div style="display:flex;margin-bottom: 7%;" (click)="GProductdetail(gibs.productID)">
        <img src="assets/images/carimg.png" alt="" style="    width: 100px;
        height: 100px;
        object-fit: cover;">
        <p style="color: #1A206D;
        font-size: 17px;
        font-weight: 500;
        margin: 6% 0% 0% 4%;">{{gibs.productName}}</p>
      </div>
    </div>




  </div>
</ion-content>
