<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col size="2" style="padding-left: 25px;">
        <ion-buttons>
          <div style="width:100% ;">
            <img (click)="goback()" src="assets/images/back-arrow.svg" alt="sb-btn">
          </div>
        </ion-buttons>
      </ion-col>
      <ion-col size="8">
        <div class="title">Help</div>
      </ion-col>
      <ion-col class="titleclass" size="2">
      </ion-col>


    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="wrapper">

    <div class="subhead">How do I purchase a product online?</div>
    <p>Visit http://www.cornerstone.com.ng and highlight the banner 'buy insurance in 5minutes' or highlight the 'e-insurance' button, select the product of interest and provide the necessary details requested on the screen then make payments via ATM cards.</p>

    <div class="subhead">What is the difference between purchasing a policy online and manually?</div>
    <p>Online gives you the opportunity to purchase a policy 24/7 anytime, any day of the week via the internet which always gives discount premium on policies compared to manual process.</p>

    <div class="subhead">Do you accept installmental payment?</div>
    <p>No, the platform doesn't accept installmental payment; it is only in products which have payment frequency (Monthly,Quarterly, Half Yearly & Yearly) such as Investment Plans.</p>

    <div class="subhead">What is the Minimum Annual Premium payable for LIfe Investment Policy</div>
    <p>The Minimum Annual Premium payable on Life Investment Policy Is N60,000.00.</p>

    <div class="subhead">Can I pay with cash or cheque?</div>
    <p>Yes, the platform has flexible payment options for users to choose from. When a user arrives on the payment page during purchasing any of our insurance products, select Bank Transfer to partially end the transaction and upon payment confirmation, the insurance documents will be sent to the email address immediately.</p>

    <div class="subhead">How do I register for claims on this platform?</div>
    <p>You have to visit to fill out e-claim form for motor claims, fire, burglary, goods-in-transit,marine and local travel insurance claims but for other products, kindly email ecare@cornerstone.com.ng to request for a claim form which you will complete and return to same email address alongside repair estimate and pictures.</p>

    <div class="subhead">How do I increase or Decrease my Life Investment Premium on subsequent payment from the initial amount invested?</div>
    <p>Send a formal letter to ecare@cornerstone.com.ng stating your desire to increase or decrease the subsequent payment to a specific amount and an endorsement letter will be forwarded to you on same to that effect</p>

    <div class="subhead">How do I change my Beneficiary or Address on my Life investment policy?</div>
    <p>Send a formal letter to ecare@cornerstone.com.ng stating your desire to change details on your policy</p>

    <div class="subhead">How can I obtain my receipt after payment?</div>
    <p>The moment payment is successful, an E-Receipt will be forwarded to your email address which you provided during the purchase of the policy</p>

    <div class="subhead">How do I get my policy document?
    </div>
    <p>After the completion of a policy and payment was successful, the certificate and policy document will be forwarded via email.Only online products like Full Comprehensive motor cover and Maximum Investment Plan receive a policy document, however for Full Comp motor cover the client receives policy document only after inspection of vehilce insured has been accomplished by our Underwriter (within 72 hours) while MIP the client receives policy document via email within 72 hours.</p>

    <div class="subhead">What is Home Insurance?</div>
    <p>Home Insurance provides financial protection against disaster such as buglary, lightening, fire and flooding. You can insure the building and it's property or either one of them individually.</p>

    <div class="subhead">How much do I need to insure my home?</div>
    <p>The cost to rebuild your home if it's damaged should be the amount needed to insure it. Ie Present value of home.</p>

    <div class="subhead">I will like to request for my statement of account</div>
    <p>-S end a mail to enquiries@cornerstone.com.ng using STATEMENT OF ACCOUNT as the subject with the following details
      Your name which was used in opening of the policy, your phone number, and your policy number.

      - Also if you do not remember your policy number, send your name which was used in opening the policy, phone number and the address filled on the proposal form.
      - Alternatively, you may visit a branch if you feel you need to address any issue regarding your statement of account.</p>

    <div class="subhead">I will like to update my personal details with the company</div>
    <p>
     - Send a mail to enquiries@cornerstone.com.ng using PERSONAL DETAILS UPDATE as the subject
     - Then provide us with the details you would want us to update on your policy account alongside your policy number.
     - If you are changing your address, kindly provide us with the current address and a utility bill to that has the current address to back up the change.
    - Utility bill can be either electricity bill, water bill, or tenancy agreement or receipt.
    </p>

    <div class="subhead">I want to purchase a third party motor policy</div>
    <p>
      - Log on to https://cornerstone.com.ng/products click on motor Insurance and then click on third party policy to complete your transaction.
     - If you encounter any issue on the portal as regards the third party transaction please send a mail to ecare@cornerstone.com.ng copying enquiries@cornerstone.com.ng
    -  If unable to process via our e-channel route please send a mail to enquiries@cornerstone.com.ng using THIRD PARTY MOTOR INSURANCE as the subject, then provide us with the following details; vehicle license, driver license, phone number, email address, residential address and your evidence of payment. - - You will receive an acknowledgement and certificate will be issued upon payment confirmation.
    -  Payment can be made into this account: 00000000000</p>

    <div class="subhead">I need a loan(only for Life savings policy holders)</div>
    <p>
     - I need a loan(only for Life savings policy holders)
     - Simply send a mail using the subject REQUEST FOR LOAN then provide the following details; policy number, and phone number.
   -   Only 70% of your fund balance will be processed and paid into your account. Terms and conditions applies.
    </p>

    <div class="subhead">How to lodge or report a claim?</div>
    <p>
     - Send an email to claimscare@cornerstone.com.ng
    - Go to this link cornerstone.com.ng/claim/MQ==
    - Log on to our website www.cornerstone.com.ng and make an online claim
    </p>


    <div class="subhead">When will an engineer Inspect my vehicle after I lodge a claim?</div>
    <p>
     - All required documents must be submitted for each type of motor claim
     - An engineer will be appointed to visit the garage or inspect the vehicle within 24-48 hours after documents must have been submitted.
    </p>


    <div class="subhead">How long do I have to wait before I lodge a claim?</div>
    <p>Immediately the accident occurs or within 30 days of the incident.</p>


    <div class="subhead">What is the TAT for payment of claims?</div>
    <p>Within 3 working days - 72 working hours after receipt of the executed discharge Voucher.</p>




</div>
</ion-content>
