p{
  color: black;
}
.title{
  text-align: center;
  font-family: Bliss Pro;
  font-size: 20px;
  color: #1A0F55;
  font-weight: bold;
}
.wrapper{
  width: 90%;
  margin: 5% auto;
}
.headcls{
  color: #1A0F55;
    font-size: 18px;
    font-weight: bold;
}
.subhead{
  color: #1A0F55;
  font-size: 16px;
  font-weight: 600;
}
