<ion-content style="--background: #e9e7e7 !important;">


  <div style="background:#1A206D;">


    <ion-row style="display: flex;align-items: center;padding-top: 5%;">
      <ion-col size="10" style="padding-left: 27px;">

        <div style="width:100% ;">
          <img src="assets/images/menuicon.svg" alt="sb-btn">
        </div>

      </ion-col>

      <ion-col class="titleclass" size="2">
        <img class="pro-img" src="assets/images/user-Filled1.svg" alt="profile">
      </ion-col>


    </ion-row>


    <div class="top-container">
      <p class="name-para">Lets!</p>
      <p class="wc-para">Explore</p>




      <div class="slide-div">
        <ion-slides pager="true" [options]="slideOpts" scrollbar="true" (ionSlideDidChange)="active-slide">

          <ion-slide>
            <div class="mid-div" style="width:100%;">
              <div class="mid-sub-div">
                <div>
                  <p class="p1">Get Immediate</p>
                  <p class="p2">Claim assistance</p>
                  <ion-progress-bar class="p-bar" value="0.38" style="--progress-background:#1A206D;">
                  </ion-progress-bar>
                  <p class="p3">We have got you covered</p>
                  <ion-button class="btn-sm">Learn more</ion-button>
                </div>
                <div>
                  <div style="width:100% ;">
                    <img class="ins-nce" src="assets/images/insurance.svg">
                  </div>

                </div>
              </div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="mid-div" style="width: 99%;">
              <div class="mid-sub-div">
                <div>
                  <p class="p1">Get Immediate</p>
                  <p class="p2">Claim assistance</p>
                  <ion-progress-bar class="p-bar" value="0.38" style="--progress-background:#1A206D;">
                  </ion-progress-bar>
                  <p class="p3">We have got you covered</p>
                  <ion-button class="btn-sm">Learn more</ion-button>
                </div>
                <div>
                  <div style="width:100% ;">
                    <img class="ins-nce" src="assets/images/insurance.svg">
                  </div>

                </div>
              </div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="mid-div" style="width: 99%;">
              <div class="mid-sub-div">
                <div>
                  <p class="p1">Get Immediate</p>
                  <p class="p2">Claim assistance</p>
                  <ion-progress-bar class="p-bar" value="0.38" style="--progress-background:#1A206D;">
                  </ion-progress-bar>
                  <p class="p3">We have got you covered</p>
                  <ion-button class="btn-sm">Learn more</ion-button>
                </div>
                <div>
                  <div style="width:100% ;">
                    <img class="ins-nce" src="assets/images/insurance.svg">
                  </div>

                </div>
              </div>
            </div>
          </ion-slide>

        </ion-slides>
      </div>
    </div>


  </div>
  <div class="container">
    <div style="display:flex; align-items: center;">
      <!-- margin-top: 26px; -->
      <p class="mid-p1">Services</p>
      <p class="mid-p2">See more <img class="arrow" src="assets/images/down-arrow.svg"> </p>
    </div>

    <ion-grid style="padding:0px; width: 100%;">

      <ion-row style="margin-top:16px ;">
        <ion-col size="4" style="padding:6px 6px 6px 0px; width: 100%;">
          <div class="gc-div">
            <div class="gimg-div">
              <img class="imgclass" src="assets/images/get-insured.svg" alt="">
            </div>
            <p class="gp-div">Get Insured</p>
          </div>
        </ion-col>

        <ion-col size="4" style="padding:6px; width: 100%;">
          <div class="gc-div">
            <div class="gimg-div">
              <img class="imgclass" src="assets/images/report-claim.svg" alt="">
            </div>
            <p class="gp-div">Report a Claim</p>
          </div>
        </ion-col>

        <ion-col size="4" style="padding:6px 0px 6px 6px; width: 100%;">
          <div class="gc-div">
            <div class="gimg-div">
              <img class="imgclass" src="assets/images/renew-policy.svg" alt="">
            </div>
            <p class="gp-div">Renew Policy</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top:16px ;">
        <ion-col size="4" style="padding:6px 6px 6px 0px; width: 100%;">
          <div class="gc-div">
            <div class="gimg-div">
              <img class="imgclass" src="assets/images/agent-login.svg" alt="">
            </div>
            <p class="gp-div">Agent Login</p>
          </div>
        </ion-col>

        <ion-col size="4" style="padding:6px; width: 100%;">
          <div class="gc-div">
            <div class="gimg-div">
              <img class="imgclass" src="assets/images/sec-doc.svg" alt="">
            </div>
            <p class="gp-div">Verify Policy</p>
          </div>
        </ion-col>

        <ion-col size="4" style="padding:6px 0px 6px 6px; width: 100%;">
          <div class="gc-div">
            <div class="gimg-div">
              <img class="imgclass" src="assets/images/helping-staff.svg" alt="">
            </div>
            <p class="gp-div">Get in Touch</p>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>


    <!-- <div style="text-align:center ;">
      <ion-button class="btn" (click)="signInScreen()">Login</ion-button>
      <ion-button class="btn2" (click)="signUpScreen()" fill="outline">Sign up</ion-button>
    </div> -->
  </div>

</ion-content>

<ion-footer>
  <ion-tabs style="top:10px !important;">
    <ion-tab-bar slot="bottom" class="ion-no-border">
      <hr>
      <ion-tab-button (click)="tab1Click()">
        <img src="assets/images/icons/login.svg" class="img">
        <ion-label class="font">Sign up</ion-label>
      </ion-tab-button>


      <ion-tab-button (click)="tab2Click()">
        <img src="assets/images/discover.svg" class="activeimg">
        <ion-label class="fontactive">Discover</ion-label>
      </ion-tab-button>


      <ion-tab-button (click)="tab3Click()">
        <img src="assets/images/icons/pro-ava.svg" class="img">
        <ion-label class="font">Sign In</ion-label>

      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
