<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row style="display: flex;
    align-items: center;">
      <ion-col size="2" style="padding-left: 25px;">
        <ion-menu-toggle>
          <ion-buttons>
            <div style="width:100% ;">
              <img src="assets/images/sb-button.svg" alt="sb-btn">
            </div>
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="8">
        <div class="title">Verify Policy</div>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="container">

    <div class="img-div">
      <img src="assets/images/policy-tick.svg" alt="" style="width: 110px;
      height:110px;">
    </div>

    <div style="width: 75%;
    text-align: center;
    margin:20px auto 0px;">
      <p class="con-p1">Find your policy in seconds!</p>
    </div>

    <!-- <div style="margin-top:25px;">
      <label class="con-l1">Policy Type</label>
      <div class="dropbox">
        <div class="innerdropbox" (click)="openlist()">
          <div class="euro-text">{{Insurance}}</div>
          <div class="imgdiv">
            <img style="height: 11px; width: 11px;" src="assets/images/down-arrow.svg" *ngIf="show==false">
            <img style="height: 11px; width: 11px;" src="assets/images/yuparrow.svg" *ngIf="show==true">
          </div>
        </div>
        <div *ngIf="show==true">
          <div *ngFor="let list of listarray" (click)="selectInsurance(list)">
            <div class="euro-text1">{{list.Insurance}}</div>
          </div>

        </div>
      </div>
    </div> -->

    <div style="margin-top: 25px;">
      <label class="con-l2">Policy Number</label>
      <div>
        <ion-input class="input" placeholder="13254PA" [(ngModel)]="pnumber"></ion-input>
      </div>
    </div>

    <!-- <div style="margin-top:25px;">
      <ion-label class="con-l3">OR</ion-label>
      <label class="con-l4">Vehicle Registration Number</label>
      <div>
        <ion-input class="input" placeholder="13254PA"></ion-input>
      </div>
    </div> -->


  </div>

</ion-content>

<ion-footer>
  <div style="text-align:center ; margin: 0px auto 30px;">
    <ion-button class="btn" (click)="PopupCust()">Submit</ion-button>
  </div>
</ion-footer>
