<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row style="display: flex; align-items: center">
      <ion-col size="2" style="padding-left: 25px">
        <div style="width: 100%">
          <img (click)="goback()" src="assets/images/back-arrow.svg" alt="" />
        </div>
      </ion-col>
      <ion-col size="8">
        <!-- <div class="title">Contact Us</div> -->
      </ion-col>
      <ion-col class="titleclass" size="2">
        <img
          (click)="updateProfile()"
          class="pro-img"
          src="assets/images/user.png"
        />
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div style="text-align: center">
      <img
        src="assets/images/logo.svg"
        style="text-align: center; margin-top: 15px"
        alt=""
      />
    </div>

    <div style="margin-top: 15px">
      <p class="sign-in-para">Please sign in to continue</p>
    </div>
    <form [formGroup]="RegisterForm" (ngSubmit)="formSubmit()">
      <div class="input-div">
        <ion-input
          formControlName="email"
          [(ngModel)]="userEmail"
          class="input"
          type="email"
          placeholder="Email"
          ><img
            style="margin: 15px 7px 14px 15px"
            src="assets/images/icons/email.svg"
          />
        </ion-input>
        <div
          class="validation"
          *ngIf="RegisterForm.get('email').hasError('required') && RegisterForm.get('email').touched"
        >
          <img src="assets/images/alert-icon.png" class="alertIcon" />
          <span class="error-msg">Enter your email</span>
        </div>
        <div
          class="validation"
          *ngIf="RegisterForm.get('email').hasError('pattern') && RegisterForm.get('email').touched"
        >
          <img src="assets/images/alert-icon.png" class="alertIcon" />
          <span class="error-msg">This is invalid format</span>
        </div>

        <!-- <ion-input class="input" style="--padding-end: 40px;"  type="{{showPass ? 'text':'password' }}" placeholder="Password" ><img style="margin:15px 7px 15px 20px;" src="assets/images/pw-lock.svg" >
        <span class="arrow-span">
          <ion-icon style="color:black ;" name="eye" *ngIf="!showPass" (click)="togglePass()"></ion-icon>
          <ion-icon style="color:black ;" name="eye-off" *ngIf="showPass" (click)="togglePass()"></ion-icon>
        </span>
        </ion-input> -->
        <div class="fields">
          <div class="inputdiv">
            <div>
              <img
                style="margin: 16px 7px 14px 15px"
                src="assets/images/icons/lock.svg"
              />
            </div>
            <div class="pinput">
              <ion-input
                formControlName="password"
                [(ngModel)]="userPassword"
                class="ph-css"
                placeholder="Password"
                type="{{showPass ? 'text':'password' }}"
              ></ion-input>
              <!-- formControlName="password" [(ngModel)]="userPassword" -->
            </div>
            <div class="icondiv" style="margin-top: 4px">
              <!-- <img src="assets/imgs/icons/eye.svg"> -->
              <ion-icon
                style="color: black; margin-right: 15px"
                name="eye"
                *ngIf="!showPass"
                (click)="togglePass()"
              >
              </ion-icon>
              <ion-icon
                style="color: black; margin-right: 15px"
                name="eye-off"
                *ngIf="showPass"
                (click)="togglePass()"
              ></ion-icon>
            </div>
          </div>
        </div>

        <div
          class="validation"
          *ngIf="RegisterForm.get('password').hasError('required') && RegisterForm.get('password').touched"
        >
          <img src="assets/images/alert-icon.png" class="alertIcon" />
          <span class="error-msg">Enter your password</span>
        </div>
      </div>
      <div class="errormsg" *ngIf="error==true">{{errormessage}}</div>
      <div class="row-div">
        <div class="bull-div" style="display: flex">
          <ion-radio class="radio" slot="start" value="Remember me"></ion-radio>
          <p class="para" style="margin-left: 12px">Remember me</p>
        </div>
        <div class="para-div">
          <p class="para" (click)="forgot()">Forgot Password?</p>
        </div>
      </div>
      <div *ngIf="fingerprintlogo==false" style="text-align: center">
        <ion-button
          class="btn"
          type="submit"
          [disabled]="RegisterForm.invalid"
          (click)="signIn()"
          style="--background: #a8b400"
          >Sign In</ion-button
        >
      </div>

      <ion-row *ngIf="fingerprintlogo==true">
        <ion-col size="11">
          <ion-button
            class="btn"
            type="submit"
            [disabled]="RegisterForm.invalid"
            (click)="signIn()"
            style="--background: #a8b400"
            >Sign In</ion-button
          >
        </ion-col>
        <ion-col size="1" style="padding-top: 40px; text-align: center">
          <ion-icon
            name="finger-print-outline"
            style="font-size: 30px; color: gray"
            (click)="fflogin()"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </form>

    <p style="text-align: center; margin: 10px 0px 0px 0px">
      <span class="p-span" style="color: #1a206d">Not registered yet?</span>
      <span class="p-span" style="color: #a8b400" (click)="signUpPage()"
        >Sign Up</span
      >
    </p>
    <!-- <div style="text-align:center ;">
      <ion-button class="btn" type="submit" (click)="fflogin()" style="--background: #A8B400;">FingerPrint/Face Login
      </ion-button>

    </div> -->
    <div style="text-align: center">
      <ion-button
        class="btn"
        style="--background: #1a206d"
        (click)="PopupCust()"
        >Agent ID Login</ion-button
      >
    </div>
    <div class="explore-btn">
      <ion-button
        fill="outline"
        class="btn"
        style="color: #a8b400; --border-color: #a8b400; margin-top: 20px"
        (click)="exScBefLin()"
        >Tap to Explore</ion-button
      >
    </div>
  </div>
</ion-content>

<!-- <ion-footer>
  <div class="explore-btn">
    <ion-button fill="outline" class="btn" style="color: #A8B400; --border-color:#A8B400 ; margin-top:40px" (click)="exScBefLin()">Tap to Explore</ion-button>
  </div>
</ion-footer> -->
