<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col size="2" style="padding-left: 25px">
        <ion-buttons>
          <div style="width:100% ;">
            <img (click)="goback()" src="assets/images/back-arrow.svg" alt="sb-btn">
          </div>
        </ion-buttons>

        <!-- <ion-menu-toggle>
          <ion-buttons>
            <div style="width: 100%">
              <img src="assets/images/menuebtnblue.svg" alt="sb-btn" />
            </div>
          </ion-buttons>
        </ion-menu-toggle> -->
      </ion-col>
      <ion-col size="8">
        <div class="title">{{insurancename}}</div>
      </ion-col>
      <ion-col class="titleclass" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="c-center">
      <p class="con-p1" >Choose one to get a Quote</p>
    </div>
    <div style="font-size: 20px; color: #000; font-weight: 500; margin-bottom: 3%">
      {{insurancename}} products are:
    </div>

    <div class="boxdiv" *ngFor="let sp of subProducts">
      <div *ngIf="sp.name" style="display: flex; margin-bottom: 7%" (click)="seeDetails(sp)">
        <img (error)="handleImgError($event, userIMG)" src="{{sp.image}}" alt=""
          style="width: 100px; height: 100px; object-fit: cover" />
          <!-- <img *ngIf="sp.name == 'Children Education Fund'" src="assets/images/investmentplans/4.png" alt="">
          <img *ngIf="sp.name == 'iSave Plan'" src="assets/images/investmentplans/1.png" alt=""> -->
        <p class="con-p2">{{sp.name}}</p>
      </div>
      <!-- <div> -->
      <!-- <div *ngIf="sp.productName" style="display: flex;
          margin-bottom: 7%;
          flex-direction: column;
          padding: 11px;" >
        <p class="con-p2" style="margin: 0px;">Name: {{sp.productName}}</p>
        <p style="margin: 0px;">Policy Id: {{sp.policyId}}</p>
        <p style="margin: 0px;">Insured Name: {{sp.insuredName}}</p>
        <p style="margin: 0px;">Amount Paid: {{sp.amountPaid}}</p>
        <p style="margin: 0px;">New Payment Status: 
          <span *ngIf="sp.repayment==false">N/A</span>
          <span *ngIf="sp.repayment==true">Available</span>
        </p>
        <p style="margin: 0px;">Account Statement Status: 
          <span *ngIf="sp.accountStatementAvailable==false">N/A</span>
          <span *ngIf="sp.accountStatementAvailable==true">Available</span>
        </p>

        <ion-icon name="ellipsis-vertical" (click)="showOptions(sp.policyId)" style="position: absolute;right: 27px;"></ion-icon>
        <div *ngIf="policyId==sp.policyId" class="option_div">
          <div style="margin-bottom: 4px;" (click)="downloadPolicyDoc(sp.policyId)">Download Policy Certificate</div>
          <div style="margin-bottom: 4px;" (click)="fetchPolicyTransactions(sp.policyId)">Get transaction history for receipt</div>
          <div style="margin-bottom: 4px;" (click)="downloadAccountStatement(sp.policyId)">Download IES Account Statement</div>
          <div style="margin-bottom: 4px;" (click)="getPastAndUpcomingPayments(sp.policyId,sp.repayment)">Get Past and Upcoming Payments</div>
        </div>
      </div> -->
      <!-- </div> -->
    </div>
    <div class="boxdiv" *ngIf="productID==1">
      <div style="display: flex; margin-bottom: 7%" (click)="gibsproducts('COMPREHENSIVE')">
        <img src="assets/images/motorcar.png" alt="" style="width: 100px; height: 100px; object-fit: cover" />
        <p style="
            color: #1a206d;
            font-size: 17px;
            font-weight: 500;
            margin: 6% 0% 0% 4%;
          ">
          COMPREHENSIVE MOTOR INSURANCE
        </p>
      </div>
    </div>

    <!-- <div class="boxdiv" *ngFor="let gibs of motorsubproducts">
      <div *ngIf="api.comingFrom === 'Motor Insurance'" style="display:flex;margin-bottom: 7%;"
        (click)="GProductdetail(gibs.productID)">
        <img src="assets/images/carimg.png" alt="" style="    width: 100px;
        height: 100px;
        object-fit: cover;">
        <p style="color: #1A206D;
        font-size: 17px;
        font-weight: 500;
        margin: 6% 0% 0% 4%;">{{gibs.productName}}</p>
      </div>
    </div> -->
    <!-- <div *ngFor="let sp of subProducts">
      <div class="c-center">
        <img src="{{sp.image}}" alt="" style="margin-top:5%;     width: 100px;
    height: 100px;
    object-fit: cover;">
        <p class="con-p2">{{sp.name}}</p>
      </div>

      <div class="btndiv">
        <ion-button class="btn" (click)="seeDetails(sp)">QUOTE</ion-button>
      </div>
      <hr style="margin-top:25px; border-top: 5px solid #A8B400; width:70%">
    </div> -->
  </div>
</ion-content>