.title{
  text-align: center;
    font-family: Bliss Pro;
    font-size: 20px;
    color: #1A206D;
    font-weight: bold;
}
.toogleclass{
  padding: 0px;
  float: right;
  --handle-width: 16px;
  --handle-height: 16px;
  width: 40px;
  height: 24px;
  --background: #5d5d5d;
  --background-checked: #1A206D;
  --handle-background-checked: #fff;
  --handle-background: #c8c7cc;
  margin-top: 1.5%;
  --handle-spacing: 4px;
}

p{
  color: black;
}
