<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="btndiv">

  <angular4-paystack
  [email]="'mailexample@mail.com'"
  [amount]="amt"
  [ref]="reference"
  [channels]="['card']"
  [class]="'btn btn-primary'"
  (onClose)="paymentCancel()"
  (callback)="paymentDone($event)">
  Pay with Paystack
</angular4-paystack>

</div>


<br>
<br>

<div class="btndiv">

  <button
    angular4-paystack
    [key]="'pk_live_a8ca720ed1feb2f3304e6ab91eae45e42706406f'"
    [email]="'mailexample@mail.com'"
    [amount]="amt"
    [ref]="reference"
    class="btn1"
    (paymentInit)="paymentInit()"
    (onClose)="paymentCancel()"
    (callback)="paymentDone($event)"
    >
    Pay with Paystack {{}}
  </button>

</div>

</ion-content>
