.rowcls{
  display: flex;align-items: center; margin-top: 20px;
}
.ios{
  .rowcls{
    display: flex;align-items: center; margin-top: 28px;
  }
}
.container {
    width: 75%;
    margin: 0px auto 0px;
}
.input-div{
    margin-top: 26px;
}
@font-face {
    font-family: Bliss Pro;
    src: url('/assets/BlissPro-Medium/BlissPro-Medium.ttf');
}
p.sign-in-para {
    font-size: 24px;
    font-weight: 500;
    color: #1A206D;
    margin: 0px;
    text-align: center;
}
.input{
    height: 44px;
    width: 100%;
    margin:20px auto 0px;
    border-radius: 15px;
    background: #E8E8E7;
    color: black;
    --placeholder-color:#5D5D5D;
    // --placeholder-font-style:
    --placeholder-font-weight:500;
    --placeholder-font-size:16px;
    --padding-end: 15px;
    --padding-start: 5px;
}
ion-input {
    --ion-font-family: Bliss Pro;
}
.btn-div {
  text-align: center;
  margin-top: 5px;
}
.btn {
  width: 100%;
  height: 45px;
  margin-top: 24px;
  --border-radius: 12px;
  font-size:16px;
  font-family: Bliss Pro;
  font-weight: 500;
  text-transform: uppercase;
}
.validation{
  width: 80%;
  margin: 5px auto 5px;
  display: flex;
  align-items: center;
}
.alertIcon{

  width: 13px;
}
.error-msg{
  margin-left: 4px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  color: #d93025;
}
