<ion-header [translucent]="true" class="ion-no-border cheader">

  <ion-row class="rowcls">
    <ion-col size="10" style="padding-left: 27px;">

      <div style="width:100% ;">
        <img (click)="goback()" src="assets/images/back-arrow.svg" alt="sb-btn">
      </div>

    </ion-col>

    <ion-col class="titleclass" size="2">

    </ion-col>


  </ion-row>


</ion-header>

<ion-content>
  <div class="container">
    <div style="text-align:center">
      <img src="assets/images/logo.svg" style="text-align:center ; margin-top:15px;" alt="">
    </div>

    <div style="margin-top:15px;">
      <p class="sign-in-para">Enter your Email Address</p>
    </div>
    <form [formGroup]="RegisterForm" (ngSubmit)="formSubmit()">
      <div class="input-div">
        <ion-input formControlName="email" [(ngModel)]="userEmail" class="input" type="email" placeholder="Email"><img
            style="margin:15px 7px 14px 15px;" src="assets/images/icons/email.svg"> </ion-input>
        <div class="validation"
          *ngIf="RegisterForm.get('email').hasError('required') && RegisterForm.get('email').touched">
          <img src="assets/images/alert-icon.png" class="alertIcon">
          <span class="error-msg">Enter your email</span>
        </div>
        <div class="validation"
          *ngIf="RegisterForm.get('email').hasError('pattern') && RegisterForm.get('email').touched">
          <img src="assets/images/alert-icon.png" class="alertIcon">
          <span class="error-msg">This is invalid format</span>
        </div>
      </div>

      <ion-button class="btn" type="submit" [disabled]="RegisterForm.invalid" (click)="signIn()"
        style="--background: #A8B400;">Forgot Password</ion-button>
    </form>
  </div>

</ion-content>
