<!-- <ion-header>
  <ion-toolbar>
    <ion-title>verify-policy-popup-cust</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="container">

    <div class="icondiv" (click)="dismiss()">
      <img src="assets/images/cross-icon.svg" alt="">
    </div>

    <div class="c-center">
      <p class="con-p1">Verify Policy Result</p>
      <img src="assets/images/model-car.png" alt="">
      <p class="con-p2">Car Insurance</p>
    </div>

    <div>
      <div class="inline-text">
        <p class="con-p3">Start Date</p>
        <p class="con-p4">25/06/2021</p>
      </div>
      <div class="inline-text">
        <p class="con-p3">End Date</p>
        <p class="con-p4">25/06/2022</p>
      </div>
      <div class="inline-text">
        <p class="con-p3">Vehicle Registration</p>
        <p class="con-p4">E7682</p>
      </div>
      <div class="inline-text">
        <p class="con-p3">Policy Number</p>
        <p class="con-p4">98765</p>
      </div>
      <div class="inline-text">
        <p class="con-p3">Status</p>
        <p class="con-p5">Active</p>
      </div>
    </div>

    <div class="btndiv">
      <ion-button class="btn1" (click)="dismiss()">RENEW POLICY</ion-button>
      <ion-button class="btn2"  (click)="dismiss()">BACK</ion-button>
    </div>
  </div>

</ion-content>
