<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row style="display: flex; align-items: center">
      <ion-col size="2" style="padding-left: 25px">
        <div style="width:100% ;" (click)="goback()">
          <img src="assets/images/back-arrow.svg" alt="sb-btn">
        </div>

        <!-- <ion-menu-toggle>
          <ion-buttons>
            <div style="width: 100%">
              <img src="assets/images/menuebtnblue.svg" alt="sb-btn" />
            </div>
          </ion-buttons>
        </ion-menu-toggle> -->
      </ion-col>
      <ion-col size="8">
        <div class="title">Face/Fingerprint</div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 90%; margin: 5% auto">
    <ion-row style="display: flex; align-items: center">
      <ion-col size="9">
        <ion-label style="color: #000; font-size: 18px">Enable Face/Fingerprint ID</ion-label>
      </ion-col>
      <ion-col size="3">
        <ion-toggle class="toogleclass" (ionChange)="toogle($event)" checked *ngIf="api.fpval=='true'">
        </ion-toggle>
        <ion-toggle class="toogleclass" (ionChange)="toogle($event)" *ngIf="api.fpval=='false'"></ion-toggle>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
