.title{
  text-align: center;
    font-family: Bliss Pro;
    font-size: 20px;
    color: #1A206D;
    font-weight: bold;
}

.wrapper{
  width: 85%;
  margin: 10% auto;
  font-family: Bliss Pro;
}
.mainhead{
  display: flex;
  justify-content: space-between;
    align-items: center;
}
.mtext1{
  color: #1A206D;
  font-size: 16px;
  font-weight: 500;
}
.mtext2{
  padding: 8px 10px 8px 15px;
  border-radius: 10px;
  background: #fff;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.ltext{
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}
.main{
  background: #fff;
  width: 100%;
    /* box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px; */
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 5%;
}
.text{
  color: #85858A;
  font-size: 14px;
  font-weight: 500;

}
.text1{
  color: #A8B400;
  font-size: 40px;
  font-weight: 700;
  padding-left: 4%;
}
