<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row style="display: flex;
    align-items: center;">
      <ion-col size="2" style="padding-left: 25px;">
        <div style="width: 100%;">
          <img (click)="goBack()" src="assets/images/back-arrow.svg" alt="">
        </div>
      </ion-col>
      <ion-col size="8">
        <div class="title">Contact Us</div>
      </ion-col>
      <ion-col class="titleclass" size="2">
        <img (click)="updateProfile()" class="pro-img" src="assets/images/user.png">
      </ion-col>


    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="wrapper">

    <p class="name-para">Hi <span *ngIf="userId!=null">{{cname}}!</span></p>
    <p class="wc-para">Welcome</p>
    <div class="logo">
      <img src="assets/images/contactlogo.svg">
    </div>
<div style="margin-top: 10px;">
    <img src="assets/images/fb.png" class="socialimgclass" (click)="fb()">
    <img src="assets/images/tw.png" class="socialimgclass" (click)="tw()">
    <img src="assets/images/yt.png" class="socialimgclass" (click)="yt()">
    <img src="assets/images/inst.png" class="socialimgclass" (click)="inst()">
  </div>
    <div class="headtitle">HEAD OFFICE</div>

    <div class="main">
      <div class="title1">Address</div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para" (click)="openMapsApp(6.4244264,3.4459322)">21, Water Corporation Drive, Off Ligali Ayorinde Street, Victoria Island ,Lagos, Nigeria</div>
      </div>

      <div class="title1" style="margin-top: 5%;">Emails</div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/sms.svg">
        </div>
        <div class="para1"><a class="para1" href="mailto:ecare@cornerstone.com.ng">ecare@cornerstone.com.ng</a> <br> <span class="sp">(Sales Enquiries & Support)</span>
        </div>
      </div>
      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/sms.svg">
        </div>
        <div class="para1"><a class="para1" href="mailto:enquiries@cornerstone.com.ng">enquiries@cornerstone.com.ng</a><br> <span class="sp">(Corporate Enquiries, Feedbacks &
            Complaints)</span>
        </div>
      </div>
      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/sms.svg">
        </div>
        <div class="para1"><a class="para1" href="mailto:claimscare@cornerstone.com.ng">ClaimsCare@cornerstone.com.ng</a><br> <span class="sp">(Claims Lodgement, Enquiries &
            Complaints)</span>
        </div>
      </div>

      <div class="title1" style="margin-top: 5%;">Telephone Number</div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1"><a class="para1" href="tel:07086216957">07086216957</a><br> <span class="sp">(Sales Enquiries & Support)</span>
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1"><a class="para1" href="tel:01-2806500">01-2806500</a> & <a class="para1" href="tel:07086216957">0700</a>  CORNERSTONE <br> <span class="sp"><a class="para1" href="tel:0700 267 63778663">(0700 267 63778663)</a> (Corporate
            Enquiries,Feedbacks & Complaints)</span>
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/global.svg">
        </div>
        <div class="para1" (click)="openwebpage()"> www.cornerstone.com.ng</div>
      </div>
    </div>

    <div class="headtitle">BRANCHES AND OUTLETS</div>

    <div class="main" style="margin-top:8% !important;">
      <div class="title2">ABEOKUTA <span style="color: #5D5D5D;font-weight:400;">(Sales Outlet)</span>
      </div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para" (click)="openMapsApp(7.1361511,3.3224694)">Agbeloba Building, 56, Quarry Road, Abeokuta, Ogun State</div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1"> <a class="para1" href="tel:0802 874 8810">0802 874 8810</a> </div>
      </div>

      <div class="title2" style="margin-top:6% !important;">IKORODU <span style="color: #5D5D5D;font-weight:400;">(Sales
          Outlet)</span>
      </div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para" (click)="openMapsApp(6.6102297,3.514677)">134 Lagos Road,Ikorodu,Lagos State</div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1"> <a class="para1" href="tel:01-2806500">01-2806500</a> </div>
      </div>

      <div class="title2" style="margin-top:6% !important;">PORT HARCOURT</div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para" (click)="openMapsApp(4.8212557,7.007805)">222, Aba Road, Port Harcourt, Rivers State</div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1"> <a class="para1" href="tel:01-2806500">01-2806500</a> </div>
      </div>

      <div class="title2" style="margin-top:6% !important;">ABUJA</div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para" (click)="openMapsApp(9.0811713,7.4994721)">34, Gana street, Maitama, Abuja</div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1"> <a class="para1" href="tel:0803 502 6956">0803 502 6956</a> </div>
      </div>

      <div class="title2" style="margin-top:6% !important;">IKOTA SHOPPING COMPLEX <span
          style="color: #5D5D5D;font-weight:400;">(Sales
          Outlet)</span>
      </div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para" (click)="openMapsApp(6.4644981,3.5351153)">Road 2. Block E, Shop 154, Ikota Shopping Complex VGC, Lekki – Ajah Expressway, Lagos State
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1"><a class="para1" href="tel:01-2806500">01-2806500</a> </div>
      </div>

      <div class="title2" style="margin-top:6% !important;">SULEJA <span style="color: #5D5D5D;font-weight:400;">(Sales
          Outlet)</span>
      </div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para" (click)="openMapsApp(9.1910422,7.1785003)">7 Suleiman Barau Road, Suleja,Niger State
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1"> <a class="para1" href="tel:0805 511 1604">0805 511 1604</a> </div>
      </div>

      <div class="title2" style="margin-top:6% !important;">APAPA <span style="color: #5D5D5D;font-weight:400;">(Sales
          Outlet)</span>
      </div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para" (click)="openMapsApp(6.4419916,3.3568497)">Polysonic Mall (2nd Floor) 1B, Point Road, Apapa, Lagos State
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1"> <a  class="para1" href="tel:01-2806500">01-2806500</a> </div>
      </div>

      <!-- ali was working here -->

      <div class="title2" style="margin-top:6% !important;">ILORIN <span style="color: #5D5D5D;font-weight:400;">(Sales
          Outlet)</span>
      </div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para">3, Sokoto Road Sabo Oke, Ilorin,Kwara State
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1">0802 060 3197</div>
      </div>

      <div class="title2" style="margin-top:6% !important;">UYO </div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para">317B, Wellington Bassey Way, Uyo, Akwa Ibom State, Nigeria
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1">0813 045 5433</div>
      </div>

      <div class="title2" style="margin-top:6% !important;">FESTAC <span style="color: #5D5D5D;font-weight:400;">(Sales
          Outlet)</span>
      </div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para">Suite 101A PIN Plaza Opposite H Close, First Avenue Festac Town, Lagos State
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1">01-2806500</div>
      </div>

      <div class="title2" style="margin-top:6% !important;">KANO </div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para">103 Hadejia Road, Fagge, Kano State
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1">0703 343 8119</div>
      </div>

      <div class="title2" style="margin-top:6% !important;">WARRI </div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para">Km 4, Refinery Road, Thomas House, Ekpan, Warri, Delta State
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1">08032127487</div>
      </div>

      <div class="title2" style="margin-top:6% !important;">IBADAN </div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para">67, Aboderin Layout ,Oni & Sons Area Ring Road, Ibadan, Oyo State
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1">0802 909 4320</div>
      </div>

      <div class="title2" style="margin-top:6% !important;">LAGOS ISLAND </div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para">Cornerstone House 136, Lewis Street Obalende, Lagos State
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1">01-2806500</div>
      </div>

      <div class="title2" style="margin-top:6% !important;">YABA </div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para">91 Herbert Macaulay Way, Sabo yaba 101001, Yaba, Lagos Mainland, Nigeria
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1">01-2806500</div>
      </div>

      <div class="title2" style="margin-top:6% !important;">IKEJA </div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para">Swiss Guard House, 6, Adeniyi Jones Avenue, (Opposite Wahum) Ikeja, Lagos State
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1">0818 779 6014</div>
      </div>

      <div class="title2" style="margin-top:6% !important;">OWERRI <span style="color: #5D5D5D;font-weight:400;">(Sales
          Outlet)</span></div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para">No. 67, Okigwe Road, Owerri, Imo State.
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1">0803 541 8019</div>
      </div>

      <div class="title2" style="margin-top:6% !important;">YENOGOA <span style="color: #5D5D5D;font-weight:400;">(Sales
          Outlet)</span> </div>

      <div class="inner1" style="margin-top:6% !important;">
        <div class="icondiv">
          <img src="assets/images/location.svg">
        </div>
        <div class="para">Jay Cee Plaza, Otiotio Road,Yenezue Gene, Yenagoa, Bayelsa State
        </div>
      </div>

      <div class="inner1">
        <div class="icondiv">
          <img src="assets/images/call.svg">
        </div>
        <div class="para1">0803 741 1444</div>
      </div>

    </div>
  </div>


</ion-content>
<!-- <ion-footer>
  <ion-tabs style="top:10px !important;">
    <ion-tab-bar slot="bottom" class="ion-no-border">
      <hr>
      <ion-tab-button (click)="tab1Click()">
        <img src="assets/images/discover.svg" class="img">
        <ion-label class="font">Discover</ion-label>
      </ion-tab-button>


      <ion-tab-button (click)="tab2Click()">
        <img src="assets/images/home.svg" class="img">
        <ion-label class="font">Home</ion-label>
      </ion-tab-button>


      <ion-tab-button (click)="tab3Click()">
        <img src="assets/images/contactus.svg" class="activeimg">
        <ion-label class="fontactive">Contact Us</ion-label>

      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-footer> -->
