.title{
  text-align: center;
  font-family: Bliss Pro;
  font-size: 20px;
  color: #1A0F55;
  font-weight: bold;
}
.wrapper{
  width: 85%;
  margin: 10% auto;
}
.box{
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%)
}
.box-success{
  border-color: #d6e9c6;
  margin-top: 5%;
}
.panel-body {
  padding: 15px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 12px;
  font-family: Bliss Pro;
}
.table {
  width: 100%;
  max-width: 100%;

}
.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
}
.table-responsive .table-bordered {
  border: 0;
}
.table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #b8b988;
}
.table > tbody > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.btndiv{
  width: 90%;
  margin: 5% auto;
}

.btn{
  color: #fff;
  --background: #A8B400;
  --border: 1px solid #A8B400;
  width: 100%;
  font-size: 14px;
  --border-radius: 12px;
  height: 40px;
}
.btn1{
  color: white;
  --background: #1A206D;
  --border: 1px solid #1A206D;
  font-size: 14px;
  width: 100%;
  --border-radius: 12px;
  margin-top: 5%;
  height: 40px;
}
.btn12{
  color: #fff;
background: #1A206D;
  border: 1px solid #1A206D;
  width: 100%;
  font-size: 14px;
  border-radius: 12px;
  height: 40px;
}
a{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase
}

