<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col size="2" style="padding-left: 25px">
        <!-- <ion-buttons>
          <div style="width: 100%">
            <img (click)="goback()" src="assets/images/back-arrow.svg" alt="sb-btn" />
          </div>
        </ion-buttons> -->

        <ion-menu-toggle>
          <ion-buttons>
            <div style="width: 100%">
              <img src="assets/images/menuebtnblue.svg" alt="sb-btn" />
            </div>
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="8">
        <div class="title">Make a Quote</div>
      </ion-col>
      <ion-col class="titleclass" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div style="display: flex; align-items: center; justify-content: space-around">
      <img height="50px" src="assets/images/access_point.png" />
      <h1 style="margin: 0px;color: #000;">Your quote is ready.</h1>
    </div>
    <div class="box box-success">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table quotetable table-bordered">
            <tbody *ngIf="productType=='Auto Classic'">
              <tr>
                <td style="width: 55%; color: black">Auto Plan of Choice</td>
                <td style="color: black">{{productType}} {{vechilemodel}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Vehicle Make</td>
                <td style="color: black">{{vechilemake}} {{vechilemodel}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Value of Vehicle</td>
                <td style="color: black">₦{{value}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Actual Premium</td>
                <td style="color: black">₦{{prices.actual}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Flood Extension</td>
                <td style="color: black">₦{{prices.flood_value}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Excess Buy Back</td>
                <td style="color: black">₦{{prices.excess_value}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Strike Riot & Civil Commotion</td>
                <td style="color: black">₦{{prices.srcc_value}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Increase in Third Party Property Damage</td>
                <td style="color: black">₦{{prices.tppd_value}}</td>
              </tr>
              <tr>
                <td style="width: 55%; color: black">Partial Payment</td>
                <td style="color: black">₦{{prices.partial_payment}}</td>
              </tr>
              <tr>
                <td style="width: 55%; color: black">Quote (Single Payment)</td>
                <td style="color: black">₦{{prices.Quote}}</td>
              </tr>
            </tbody>

            <tbody *ngIf="productType=='Auto Plus'">
              <tr>
                <td style="width: 55%; color: black">Auto Plan of Choice</td>
                <td style="color: black">{{productType}} {{vechilemodel}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Vehicle Make</td>
                <td style="color: black">{{vechilemake}} {{vechilemodel}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Value of Vehicle</td>
                <td style="color: black">₦{{value}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Actual Premium</td>
                <td style="color: black">₦{{prices.actual}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Increase in Third Party Property Damage</td>
                <td style="color: black">₦{{prices.tppd_value}}</td>
              </tr>
              <tr>
                <td style="width: 55%; color: black">Partial Payment</td>
                <td style="color: black">₦{{prices.partial_payment}}</td>
              </tr>
              <tr>
                <td style="width: 55%; color: black">Quote (Single Payment)</td>
                <td style="color: black">₦{{prices.Quote}}</td>
              </tr>
            </tbody>

            <tbody *ngIf="productType=='Uber Classic'">
              <tr>
                <td style="width: 55%; color: black">Auto Plan of Choice</td>
                <td style="color: black">{{productType}} {{vechilemodel}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Vehicle Make</td>
                <td style="color: black">{{vechilemake}} {{vechilemodel}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Value of Vehicle</td>
                <td style="color: black">₦{{value}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Actual Premium</td>
                <td style="color: black">₦{{prices.actual}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Flood Extension</td>
                <td style="color: black">₦{{prices.flood_value}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Excess Buy Back</td>
                <td style="color: black">₦{{prices.excess_value}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Strike Riot & Civil Commotion</td>
                <td style="color: black">₦{{prices.srcc_value}}</td>
              </tr>

              <tr>
                <td style="width: 55%; color: black">Increase in Third Party Property Damage</td>
                <td style="color: black">₦{{prices.tppd_value}}</td>
              </tr>
              <tr>
                <td style="width: 55%; color: black">Partial Payment</td>
                <td style="color: black">₦{{prices.partial_payment}}</td>
              </tr>
              <tr>
                <td style="width: 55%; color: black">Quote (Single Payment)</td>
                <td style="color: black">₦{{prices.Quote}}</td>
              </tr>
            </tbody>
          </table>
          <!-- <table class="table quotetable table-bordered">
            <tbody>
              <tr>
                <td style="width: 30%; color: black">First Name</td>
                <td style="color: black">{{fname}}</td>
              </tr>

              <tr>
                <td style="width: 30%; color: black">Last Name</td>
                <td style="color: black">{{lname}}</td>
              </tr>

              <tr>
                <td style="width: 30%; color: black">Email</td>
                <td style="color: black">{{userEmail}}</td>
              </tr>

              <tr>
                <td style="width: 30%; color: black">Address</td>
                <td style="color: black">{{address}}</td>
              </tr>

              <tr>
                <td style="width: 30%; color: black">Gender</td>
                <td style="color: black">{{gender}}</td>
              </tr>

              <tr>
                <td style="width: 30%; color: black">Phone</td>
                <td style="color: black">{{mobNumber}}</td>
              </tr>

              <tr>
                <td style="width: 30%; color: black">Policy Number</td>
                <td style="color: black">{{getproduct.policyNo}}</td>
              </tr>

              <tr>
                <td style="width: 30%; color: black">Plan of Choice</td>
                <td style="color: black">{{Gproduct.productName}}</td>
              </tr>

              <tr>
                <td style="width: 30%; color: black">Quote</td>
                <td style="color: black">{{overalltax}}</td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
    </div>
    <div class="btndiv">
      <ion-button class="btn" (click)="buyOnlineQuote()">Buy Online Now
      </ion-button>
      <ion-button class="btn1" (click)="getAnewQuote()">Get a new quote
      </ion-button>
    </div>
  </div>
</ion-content>