<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <ion-row>
      <ion-col size="2" style="padding-left: 25px;">
        <ion-menu-toggle>
          <ion-buttons>
            <div style="width:100% ;">
              <img src="assets/images/sb-button.svg" alt="sb-btn">
            </div>
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="8">
        <div class="title">Insurance Request</div>
      </ion-col>
      <ion-col class="titleclass" size="2">
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="wrapper">
    <div style="display:flex;align-items: center;
    justify-content: space-around;">
      <!-- <img height="50px" src="assets/images/access_point.png"> -->
      <h3 style="margin:0px;text-align:center;">Insurance Request Completed Successfully</h3>
    </div>
    <div class="box box-success">
      <div class="panel-body">
        <div class="main">
        <div class="title1">First Name</div>
        <div class="inner1">
          <div class="para">{{getproduct.insured.firstName}}</div>
        </div>

        <div class="title1">Last Name</div>
        <div class="inner1">
          <div class="para">{{getproduct.insured.lastName}}</div>
        </div>

        <div class="title1">Email</div>
        <div class="inner1">
          <div class="para">{{getproduct.insured.email}}</div>
        </div>


        <div class="title1">Address</div>
        <div class="inner1">
          <div class="para">{{getproduct.insured.address}}</div>
        </div>

        <div class="title1">Gender</div>
        <div class="inner1">
          <div class="para">{{getproduct.insured.gender}}</div>
        </div>

        <div class="title1">Phone 1</div>
        <div class="inner1">
          <div class="para">{{getproduct.insured.phoneLine1}}</div>
        </div>

        <!-- <div class="title1">Phone 2</div>
        <div class="inner1">
          <div class="para">{{getproduct.insured.phoneLine2}}</div>
        </div> -->


        <div class="title1">Policy Number</div>
        <div class="inner1">
          <div class="para">{{getproduct.policyNo}}</div>
        </div>

        <div class="title1">Plan of Choice</div>
        <div class="inner1">
          <div class="para">{{Gproduct.productName}}</div>
        </div>
      </div>

      </div>
    </div>
    <!-- <div class="btndiv">
      <ion-button class="btn" (click)="buyOnlineQuote()">Buy Online Now </ion-button>
      <ion-button class="btn1" (click)="getAnewQuote()">Get a new quote </ion-button>
    </div> -->

  </div>
</ion-content>
