.bg{
  --background: #A8B400;
  border-radius: 32px;
}
.container{
  width: 90%;
  margin: 5% auto;
}
.icondiv{
  text-align: right;
    margin-right: 0%;
}
.label{
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}
.input1{
  margin-top: 5%;
  border-radius: 12px;
  background: #fff url(../../assets/images/profile-circle.svg) no-repeat;
  --padding-start: 55px;
    background-position: 6%;
}
.btndiv{
  text-align: center;
  margin-top: 5%;
}
.btn{
  --background:#1A0F55 url(../../assets/images/search-normal.svg) 10% no-repeat;
  --border-radius:12px;
  width:171px ;
  height: 48px;
  font-size: 18px;
  font-weight: 500;
}
