<ion-content class="">
  <div style="background: #dedede; height:100%; width:100%">

  <div class="v-center">

    <div class="icondiv" (click)="dismiss()">
      <img src="assets/images/close-circle.svg" alt="">
    </div>

    <div class="main">
      <div class="label">Enter Agent ID</div>
      <ion-input type="text" class="input1" placeholder="1254PAG" [(ngModel)]="agentId"></ion-input>

      <div class="btndiv" (click)="search()">
        <ion-button class="btn"><img style="margin-right: 6px;" src="assets/images/search-normal.svg" alt=""> SEARCH
        </ion-button>
      </div>
    </div>
  </div>
</div>
</ion-content>
